<!DOCTYPE html>
<html data-wf-page="5be258ca3f7813861c21aa38" data-wf-site="5be258ca3f781398d721aa37">

<head>
  <meta charset="utf-8">
  <title>DragonETH</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link rel="stylesheet" type="text/css"
    href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
    (function (m, e, t, r, i, k, a) {
      m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
      m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
    })
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(61617652, "init", {
      clickmap: true,
      trackLinks: true,
      accurateTrackBounce: true
    });
  </script>
  <noscript>
    <div><img src="https://mc.yandex.ru/watch/61617652" style="position:absolute; left:-9999px;" alt="" /></div>
  </noscript>
  <!-- /Yandex.Metrika counter -->
  <style>
    .w-embed-youtubevideo {
      width: 100%;
      position: relative;
      padding-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;
      background-image: url(https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg);
      background-size: cover;
      background-position: 50% 50%;
    }

    .w-embed-youtubevideo:empty {
      min-height: 75px;
      padding-bottom: 56.25%;
    }
  </style>
  <link href="/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="/css/webflow.css" rel="stylesheet" type="text/css">
  <link href="/css/dragoneth.webflow.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js" type="text/javascript"></script>
  <script
    type="text/javascript">WebFont.load({ google: { families: ["Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic", "Fira Sans:regular,500,600,700,800:cyrillic,latin", "Roboto:100,300,regular,500,700:cyrillic,latin"] } });</script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script
    type="text/javascript">!function (o, c) { var n = c.documentElement, t = " w-mod-"; n.className += t + "js", ("ontouchstart" in o || o.DocumentTouch && c instanceof DocumentTouch) && (n.className += t + "touch") }(window, document);</script>
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <link href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png" rel="apple-touch-icon">
</head>

<body class="body">
  <div class="voile"></div>
  <div class="bgr_00"></div>
  <div data-collapse="medium" data-animation="over-left" data-duration="400"
    data-w-id="563dd592-c922-2a09-1ab2-d33f54dfb545" class="navbar_fixed w-nav">
    <div class="menu_button w-nav-button">
      <div class="burger_image"></div>
      <div class="burger_text_wrap">
        <div class="burger_text">Menu</div>
      </div>
    </div>
    <a href="/" class="brand w-nav-brand">
      <div class="logo_wrap w-clearfix">
        <div class="logo_img_wrap"></div>
        <div class="logo_text">Dragon ETH</div>
      </div>
    </a>
    <nav role="navigation" class="nav-menu w-nav-menu">
      <div class="flex_wrap">
        <div class="links_block">
          <div class="close_btn_wrap">
            <div class="menu_button close w-nav-button">
              <div class="burger_image cross"></div>
              <div class="burger_text_wrap">
                <div class="burger_text">Close</div>
              </div>
            </div>
          </div><a href="/" class="nav_link w-nav-link">Где я?</a><a href="#about" class="nav_link w-nav-link"> Что тут
            происходит? </a><a href="#how-it-work" class="nav_link w-nav-link">Как это работает?</a><a href="#roadmap"
            class="nav_link w-nav-link">Дорожная карта</a><a href="#friends" class="nav_link w-nav-link">Реферальная
            программа</a><a href="#faq" class="nav_link w-nav-link">FAQ</a>
        </div><a name="reftoapp" href="https://eth.dragoneth.com" class="nav_btn w-button"><span
            class="nb_span_01">КУПИТЬ</span> <span class="nb_span_02">egg</span> <%=data.crowdSaleDragonPrice%><span
            class="text-span">eth</span></a>
      </div>
    </nav>
    <div class="lang_selector">
      <a href="/language/change/en" class="lang_flag w-inline-block">
        <div class="en_lang lang_active"></div>
      </a>
      <a class="lang_flag w-inline-block lang_flag_selected">
        <div class="ru_lang"></div>
      </a>
    </div>
  </div>
  <div id="hero" data-w-id="345b7f53-b0e2-17d6-42f5-499d62f1056e" class="section_hero">
    <div data-w-id="f4c7366d-0ef9-0a18-e3da-970151d1c15f" class="cloud_center"></div>
    <div class="cloud_center_na"></div>
    <div data-w-id="ca7bdebc-231c-e098-a697-ab942c11b549" class="cloud_left"></div>
    <div class="cloud_left_na"></div>
    <div data-w-id="f2b11e74-260a-f94c-3b29-9e4f86b87451" class="cloud_right"></div>
    <div class="cloud_right_na"></div>
    <div class="dragon_left">
      <div class="left_dragon_wrap">
        <div class="html-embed w-embed w-iframe"></div>
      </div>
    </div>
    <div class="dragon_right">
      <div class="dragon_right_wrap">
        <div class="html-embed-2 w-embed w-iframe"></div>
      </div>
    </div>
    <div class="container w-container">
      <div class="hero_center">
        <div class="heading_wrap">
          <div class="heading heading_top">Ты на</div>
          <h1 class="heading heading_center">DragonETH</h1>
          <div class="heading heading_bottom">территории</div>
        </div>
        <div class="hero_text">
          <div class="text-block">Здесь можно за эфир покупать драконов,<br>которые будут трахаться, драться, мутировать
            и умирать. Потому что драконы – не котята. </div>
        </div><a name="reftoapp" href="https://eth.dragoneth.com" class="btn_primary hero_btn w-button">Дай. Мне.
          Яйцо.</a><a href="#about" class="scroll_sign w-inline-block"></a>
      </div>
    </div>
  </div>
  <div id="about" data-w-id="6affd72f-28e5-9434-fe84-f174aeba58d8" class="section_about">
    <div class="w-container">
      <h2 class="heading_02 about_head">Что тут происходит?</h2>
      <div class="_2-col_block">
        <div class="about_img"><img src="images/ipad.png" srcset="images/ipad-p-500.png 500w, images/ipad.png 790w"
            sizes="(max-width: 991px) 240px, 400px" alt="" class="image-3"></div>
        <div class="detail_wrap">
          <div class="detail_wings wings_01"></div>
          <h3 class="heading_03">DragonETH...</h3>
        </div>
        <p class="text_p space_01">Это инвестиционная игра на смарт-контрактах Ethereum. Каждый дракон – это токен
          стандарта ERC-721, который защищен блокчейном. Про блокчейн ты и так всё знаешь, разжевывать не будем.</p>
        <div class="detail_wrap">
          <div class="detail_horns"></div>
          <h3 class="heading_03">Все покупают яйца.</h3>
        </div>
        <p class="text_p">Все покупают яйца.
          Через 3 недели твой дракон появится из яйца, которое можно купить легким движением руки - достаточно
          установить плагин для браузера MetaMask.
          Эмиссия – всего 100 000, поэтому чем дальше, тем дороже.</p>
        <div class="counter">
          <div class="counter_cell counter_cell_egg"></div>
          <div class="counter_cell">
            <div class="counter_num">1</div>
            <div class="counter_cell">
              <div data-w-id="e1de0c84-8bad-e075-f600-c7c76d791c1e" class="counter_num_wrap">

                <div class="counter_num counter_9">9</div>
                <div class="counter_num counter_4"><%=data.totalDragons[0]%></div>
              </div>
            </div>
          </div>
          <div class="counter_cell">
            <div class="counter_num">9</div>
            <div class="counter_cell">
              <div data-w-id="6d7c630f-d68b-6064-bb1d-ca554ec28c63" class="counter_num_wrap">
                <div class="counter_num counter_9">9</div>
                <div class="counter_num counter_5"><%=data.totalDragons[1]%></div>
              </div>
            </div>
          </div>
          <div class="counter_cell">
            <div class="counter_num">9</div>
            <div class="counter_cell">
              <div data-w-id="b278f25d-9a5e-d192-0ff9-e42956c7f810" class="counter_num_wrap">
                <div class="counter_num counter_9">9</div>

                <div class="counter_num counter_6"><%=data.totalDragons[2]%></div>
              </div>
            </div>
          </div>
          <div class="counter_cell">
            <div class="counter_num">9</div>
            <div class="counter_cell">
              <div data-w-id="4b603482-4fba-2013-4926-e337c5f8a6b3" class="counter_num_wrap">
                <div class="counter_num counter_9">9</div>
                <div class="counter_num counter_7"><%=data.totalDragons[3]%></div>
              </div>
            </div>
          </div>
          <div class="counter_cell">
            <div class="counter_num">9</div>
            <div class="counter_cell">
              <div data-w-id="beaf12b0-6914-f6eb-3541-c96fc07fa44a" class="counter_num_wrap">
                <div class="counter_num counter_9">9</div>
                <div class="counter_num counter_8"><%=data.totalDragons[4]%></div>
              </div>
            </div>
          </div>
          <div class="counter_shadow"></div>
        </div>
      </div>
    </div>
  </div>
  <div id="bc" data-w-id="9ca618a6-51a8-0586-61c5-87ea109ee3fb" class="section_bc">
    <div data-w-id="d271ac5d-41c1-1518-724b-f615d56d4911" class="bc_cloud_right"></div>
    <div class="bc_cloud_right_na"></div>
    <div data-w-id="fd6d9fd5-fa5d-363a-4cfb-62ee9d29cd66" class="bc_cloud_left"></div>
    <div class="bc_cloud_left_na"></div>
    <div class="w-container">
      <h2 class="heading_02 heading_friends">Нахрена мне ваш блокчейн?</h2>
      <div class="friends_card">
        <div class="bc_card_left"></div>
        <div class="friends_card_right">
          <div class="text_p bc_text">Если ты не знаешь, что такое блокчейн, у нас для тебя плохие новости. Сегодня 2019
            год, приятель. Через пару лет мы за кофе будем расплачиваться криптой, а у тебя даже Метамаск не стоит.
          </div>
          <p class="text_p">Подробности почитай вот <a target="_blanck"
              href="https://cryptofound.com/ru/guide/beginners/what-is-a-bitcoin-in-simple-words/"
              class="text_link">здесь </a></p>
        </div>
      </div>
    </div>
  </div>
  <div id="how-it-work" class="section scroll_container">
    <div class="sticky"></div>
    <div class="sticky_content w-container">
      <h2 class="heading_02 how_head">Как это работает?</h2>
      <div class="how_card w-clearfix">
        <div class="img_float card_img_01"></div>
        <div class="text_float">
          <div class="text_float_wrap">
            <div class="detail_wrap">
              <div class="detail_tush"></div>
              <h3 class="heading_03 text_black">Что за дракон?</h3>
            </div>
            <p class="text_p text_p_black">Да хрен его знает. 30 боевых и 22 визуальных гена, 256 цветовых схем, среди
              которых встречаются очень редкие комбинации, дающие твоему дракону уникальную внешность и
              сверхъестественную силу.<br></p>
            <p class="text_p text_p_black">
              Но никто не гарантирует, что из твоего яйца вылупится пригодная для разведения и драки боевая единица.
              Купи побольше яиц и молись, чтобы тебе повезло. <br></p>
          </div>
        </div>
      </div>
      <div class="how_card w-clearfix">
        <div class="text_float">
          <div class="text_float_wrap">
            <div class="detail_wrap">
              <div class="detail_eye"></div>
              <h3 class="heading_03 text_black">И что с ним делать? </h3>
            </div>
            <p class="text_p text_p_black">Для начала дождись, когда он вылупится. Затем оцени потенциал: визуальные и
              боевые характеристики. Если дракон получился что надо, выставляй его на бой. Дракон рожден для хорошей
              драки.<br></p>
            <p class="text_p text_p_black">Исход боя определяет сила твоего дракона. После каждой битвы ты получаешь
              мутаген. Выиграл бой – много мутагена, проиграл бой – мало мутагена.<br></p>
          </div>
        </div>
        <div class="img_float card_img_02"></div>
      </div>
      <div class="how_card w-clearfix">
        <div class="img_float card_img_03"></div>
        <div class="text_float">
          <div class="text_float_wrap">
            <div class="detail_wrap">
              <div class="detail_tush"></div>
              <h3 class="heading_03 text_black">Что еще за мутаген?</h3>
            </div>
            <p class="text_p text_p_black">Нормальный мутаген. Поишь им дракона, дракон мутирует.<br></p>
            <p class="text_p text_p_black">Мутация – процесс изменения ДНК твоего дракона (да-да, самого токена). Твоя
              уникальная тварь может сдохнуть от передоза или переродиться во что-то иное, не менее уникальное.<br></p>
            <p class="text_p text_p_black">Если твой дракон хиленький, но симпатичный – тебе в генную лабораторию. Там
              за деньги меняй что хочешь.<br></p>
          </div>
        </div>
      </div>
      <div class="how_card w-clearfix">
        <div class="text_float">
          <div class="text_float_wrap">
            <div class="detail_wrap">
              <div class="detail_eye_cap"></div>
              <h3 class="heading_03 text_black">Ладно, что еще?</h3>
            </div>
            <p class="text_p text_p_black">Когда твой дракон подрастет, то в перерывах между боями он сможет
              размножаться.<br></p>
            <p class="text_p text_p_black">Да, за секс всегда нужно платить. Да, можно трахаться под мутагеном. Нет,
              детей не всегда можно забрать себе.<br></p>
          </div>
        </div>
        <div class="img_float card_img_04"></div>
      </div>
    </div>
  </div>
  <div id="roadmap" data-w-id="ce1fb2e4-50b7-5a76-c15c-9176260c22fc" class="section-3 section_roadmap">
    <div data-w-id="976fa1cd-0caa-ec76-5baa-5b8eecabc219" class="rm_cloud_left_01"></div>
    <div class="rm_cloud_left_01_na"></div>
    <div data-w-id="66acaeaa-4004-edc3-8815-995251423ca0" class="rm_cloud_right"></div>
    <div class="rm_cloud_right_na"></div>
    <div data-w-id="7223b0fd-c206-e08c-5fe3-c77bf8c2b669" class="rm_cloud_left_02"></div>
    <div class="rm_cloud_left_02_na"></div>
    <div class="circle_01"></div>
    <div class="circle_02"></div>
    <div class="circle_03"></div>
    <div class="container-5 w-container">
      <h2 class="heading_02 roadmap_heading">Roadmap</h2>
      <p class="sub_heading">Что дальше? План такой:</p>
      <div class="rm_wrap">
        <div class="detail_wrap detail_wrap_center">
          <div class="detail_wings"></div>
          <div class="rm_heading">Альфа-версия веб-интерфейса </div>
        </div>
        <div class="flag_checked">
          <div class="flag_checked_text">Готово</div>
        </div>
        <div class="rm_f_wrap">
          <div class="rm_feature">Покупка и продажа яиц и драконов</div>
          <div class="rm_feature rm_f_fights">Бои</div>
          <div class="rm_feature rm_f_breeding">Размножение</div>
          <div class="rm_feature rm_f_mutagen">Мутаген</div>
          <div class="rm_feature rm_f_lab">Генная лаборатория</div>
        </div>
        <div class="pass_block">
          <div class="pass_circle"></div>
          <div class="pass_line_long"></div>
          <div class="pass_circle"></div>
        </div>
        <div class="detail_wrap detail_wrap_center">
          <div class="detail_eye_cap eye_cap_02"></div>
          <div class="rm_heading">Альфа-версия приложения iOS</div>
        </div>
        <div class="flag_checked">
          <div class="flag_checked_text">Готово</div>
        </div>
        <div class="rm_f_wrap">
          <div class="rm_feature rm_f_app">Нативное приложение</div>
          <div class="rm_feature rm_f_reg">Упрощенная регистрация</div>
          <div class="rm_feature rm_f_token">Токен в <span class="rm_f_long">твоем </span> смартфоне</div>
          <div class="rm_feature rm_f_push">Push-уведомления</div>
          <div class="rm_feature rm_f_time">Оперативное отслеживание <span class="rm_f_long">обстановки</span></div>
        </div>
        <div class="rm_review">
          <div class="rm_review_arrow"></div>
          <div class="rm_review_heading">Мы собрали $ХХХХХ</div>
          <div class="rm_review_text">И создали альфа-версию и приложение в iOS. Покупай и продавай яйца и драконов,
            устраивай бои, заделывай потомство, спускай деньги в генной лаборатории.</div>
        </div>
        <div class="pass_block">
          <div class="pass_circle"></div>
          <div class="pass_line"></div>
          <div class="roadmap_divider">and now for the future plans</div>
          <div class="pass_line pass_line_grey"></div>
          <div class="pass_circle pass_circle_grey"></div>
        </div>
        <div class="detail_wrap detail_wrap_center">
          <div class="detail_horns_grey"></div>
          <div class="rm_heading rm_heading_future">2D игровой интерфейс</div>
        </div>
        <div class="flag_future">
          <div class="flag_future_text">Когда соберем $100 000</div>
        </div>
        <div class="rm_f_wrap">
          <div class="rm_feature rm_f_map">Игровые локации</div>
          <div class="rm_feature rm_f_anim">Анимированные битвы</div>
          <div class="rm_feature rm_f_update">Соответствующее обновление приложения</div>
        </div>
        <div class="pass_block">
          <div class="pass_circle pass_circle_grey"></div>
          <div class="pass_line_long pass_line_grey"></div>
          <div class="pass_circle pass_circle_grey"></div>
        </div>
        <div class="detail_wrap detail_wrap_center">
          <div class="detail_horns_grey"></div>
          <div class="rm_heading rm_heading_future">3D игровой интерфейс </div>
        </div>
        <div class="flag_future">
          <div class="flag_future_text">Когда соберем $500 000</div>
        </div>
        <div class="rm_f_wrap">
          <div class="rm_feature rm_f_3d">3D драконы</div>
          <div class="rm_feature rm_f_multi">Multiplayer (Apple ARkit 2.0)</div>
          <div class="rm_feature rm_f_update">Соответствующее обновление приложения</div>
          <div class="rm_feature rm_f_ar">Битва в дополненной реальности</div>
        </div>
        <div class="rm_review">
          <div class="rm_review_arrow"></div>
          <div class="rm_review_heading">Когда соберем $500 000</div>
          <div class="rm_review_text">Запилим игру в 3D. Мы все хотим увидеть, как армия драконов сражается в
            дополненной реальности. В общем-то, ради этого все и начиналось.</div>
        </div>
      </div>
    </div>
    <div id="friends" data-w-id="f4d936f6-d9e8-ba92-4e74-fb89fe8bd7f9" class="section_friends">
      <div data-w-id="c61b991e-7060-c7fd-87a1-07cd0e3bc7fe" class="friends_cloud_left"></div>
      <div class="friends_cloud_left_na"></div>
      <div data-w-id="3721476c-b6b2-a452-be4f-ec4e565bfa7b" class="friends_cloud_right"></div>
      <div class="friends_cloud_right_na"></div>
      <div class="w-container">
        <h2 class="heading_02 heading_friends">Если у тебя есть друзья...</h2>
        <div class="sub_heading">почему бы на них не заработать?</div>
        <div class="friends_card">
          <div class="friends_card_left"></div>
          <div class="friends_card_right">
            <p class="text_p">Здесь твоя ссылка.</p>
            <p class="text_p">Если раскидать её по друзьям, а друзья перейдут по ней на наш сайт и купят яйца, то мы
              вернем на твой кошелек 30% от продажи яиц.</p><a id="ref_contract" href="#"
              class="btn_small w-button">Получить ссылку</a>
          </div>
        </div>
      </div>
    </div>
    <div id="source" class="section_os">
      <div class="container-2 w-container">
        <h2 class="heading_02 heading_os">Тебя что-то <br>не устраивает?</h2>
        <div class="os_card">
          <div class="os_card_text">
            <p class="os_text_heading">Возьми и сделай лучше<br></p>
            <p class="os_text_p">Мы выложили код в открытом доступе не для того, чтобы ты сидел и смотрел на него.
              Давай, уделай нас! Мы ведь все для этого здесь собрались.<br></p><a href="https://github.com/DeepDragons"
              class="btn_small w-button" target="_blank">МЫ НА GitHub</a>
            <div class="os_hr"></div>
            <p class="os_text_p">Если тебе лень менять мир к лучшему – просто дай нам денег, мы сами поменяем:<br></p>

            <a onclick="copy('#donate_address')" href="#" id="donate_address"
              class="text_link os_link">0xFF996042E1f9e11c9658e5bEdce2363F853490F1</a>
            <span style="margin-left: 45%;" id="copied"></span>
          </div>
          <a href="https://opensource.org" target="_blanck" class="os_card_image"></a>
        </div>
      </div>
    </div>
    <div id="faq" data-w-id="b424c080-f78b-d4ad-dd32-3b0a967d0fcc" class="faq_section">
      <div data-w-id="6dcce17d-4d6b-4ced-f8a3-3982c90faf8b" class="faq_cloud_left"></div>
      <div class="faq_cloud_left_na"></div>
      <div data-w-id="d8530151-bb53-05de-0c6a-6a938f0d5461" class="faq_cloud_right"></div>
      <div class="faq_cloud_right_na"></div>
      <div class="container-6 w-container">
        <h2 class="heading_02 heading_faq">FAQ</h2>
        <div class="acc_wrap">
          <div class="acc_item">
            <div class="acc_item_trigger">
              <div data-w-id="0ee8043d-255b-ecd1-7e9a-97341717b76d" class="acc_item_plus"></div>
              <div class="acc_item_minus"></div>
              <div class="acc_item_hr"></div>
              <div data-w-id="8371ad65-c486-d0e9-535e-10f6065d20e1" class="acc_item_heading">Что за редкие драконы?
              </div>
            </div>
            <div data-w-id="d3bf6d2f-0c77-4ccb-249b-4701d9ccdf43" class="acc_item_content">
              <p class="acc_item_p">Из 30 боевых генов 15 отвечают за защиту, еще 15 – за нападение. Сила каждого из них
                измеряется по шкале от 0 до 255.</p>
              <p class="acc_item_p">Сочетание боевых и визуальных генов уникально для каждого дракона и формируется в
                рандомном порядке. Но некоторые гены встречаются значительно реже других.</p>
              <div class="acc_space"></div>
            </div>
          </div>
          <div class="acc_item">
            <div class="acc_item_trigger">
              <div class="acc_item_plus"></div>
              <div class="acc_item_minus"></div>
              <div class="acc_item_hr"></div>
              <div class="acc_item_heading">Что за бои?</div>
            </div>
            <div class="acc_item_content">
              <p class="acc_item_p">Бои бывают трех видов: <br>– случайный бой, когда противника определяет твоя
                карма<br>– бойцовский клуб, когда ты сам решаешь, кого изувечить<br>– смертельный бой, но тебе еще рано
                думать об этом.</p>
              <p class="acc_item_p">Исход боя определяет сила твоего дракона. После каждой битвы ты получаешь мутаген.
                Выиграл бой – много мутагена, проиграл бой – мало мутагена.<br></p>
              <p class="acc_item_p">Случайный бой – что-то вроде пьяной драки в баре. Соперник может оказаться любым.
                Проиграл - получаешь 1 единицу мутагена, победил - кубок с 10 мутагенами твой.<br></p>
              <p class="acc_item_p">Бойцовский клуб – это возможность самому выбрать соперника на маркете. Исход как и у
                случайного боя – 10 единиц мутагена за победу и 1 единица за проигрыш. <br></p>
              <p class="acc_item_p">Смертельный бой доступен только для драконов 3 уровня, потому что умереть в бою –
                это честь для твоей огнедышащей твари. Победитель получает все, а проигравший – почетную смерть. <br>
              </p>
            </div>
          </div>
          <div class="acc_item">
            <div class="acc_item_trigger">
              <div class="acc_item_plus"></div>
              <div class="acc_item_minus"></div>
              <div class="acc_item_hr"></div>
              <div class="acc_item_heading">Что еще за мутаген?</div>
            </div>
            <div class="acc_item_content">
              <p class="acc_item_p">Нормальный мутаген. Поишь им дракона, дракон мутирует.
                Мутация – процесс изменения ДНК твоего дракона (да-да, самого токена). Твоя уникальная тварь может
                сдохнуть от передоза или переродиться во что-то иное, не менее уникальное.
                Если твой дракон хиленький, но симпатичный – тебе в генную лабораторию. Там за деньги меняй что хочешь.
              </p>
              <p class="acc_item_p">Мутация – рандомный процесс изменения генов твоего дракона. Просто закидываешься им
                и ждешь, что из этого получится (еслиты понимаешь, о чем мы). Точно известно только одно – 10 единиц
                мутагена дают 10% изменения 1 гена из выбранной группы. Визуальные гены можно поменять один раз
                бесплатно и без риска для жизни, но последующие изменения могут иметь летальный исход.</p>
              <p class="acc_item_p">Боевые гены изменять безопаснее: показатели одной из 30 характеристик изменятся в
                большую или меньшую сторону пропорционально количеству принятого мутагена. То есть ты можешь случайно
                превратить своего сильного дракона в немощную тварь, но он по крайней мере не сдохнет.</p>
              <p class="acc_item_p">В генной лаборатории ты можешь изменить любой из генов на своё усмотрение.
                Визуальные изменения точно также могут закончиться смертью, изменения выбранного гена точно также
                формируются в рандомном порядке. Да, согласны, звучит не очень, но зато честно.
              </p>
              <div class="acc_space"></div>
            </div>
          </div>
          <div class="acc_item">
            <div class="acc_item_trigger">
              <div class="acc_item_plus"></div>
              <div class="acc_item_minus"></div>
              <div class="acc_item_hr"></div>
              <div class="acc_item_heading">Как драконы размножаются?</div>
            </div>
            <div class="acc_item_content">
              <p class="acc_item_p">Когда твой дракон подрастет, то в перерывах между боями он сможет размножаться. Твои
                варианты:
                - случайный секс где никто не гарантирует тебе результат
                - секс за деньги на маркете, где можно выставить своего дракона и немного подзаработать, или снять
                сильного симпатичного партнера с гарантированным результатом
                - тихий семейный секс между своими драконами.<br></p>
              <p class="acc_item_p">Да, за секс всегда нужно платить. Да, можно трахаться под мутагеном. Да, от секса
                всегда бывают дети. К сожалению, детей не всегда можно забрать себе.</p>
              <p class="acc_item_p">Случайный секс здесь, как и в жизни, не гарантирует результат. А результат в данном
                случае – потомство. Яйцо достанется одному из партнеров в случайном порядке, генетика будет унаследована
                также рандомно.</p>
              <p class="acc_item_p">Секс за деньги на маркете – это местный Tinder. Выставляй своего дракона, назначай
                цену его любви и жди покупателя. Яйцо ты не получишь, зато получишь эфир. Если хочешь красивое сильное
                потомство – покупай партнера с хорошими генами и забирай своё яйцо.</p>
              <p class="acc_item_p">Тихий семейный секс. Скучно, быстро, под одеялом. Просто получишь еще одно яйцо,
                похожее на остальные свои яйца.
              </p>
              <div class="acc_space"></div>
            </div>
          </div>
          <div class="acc_item">
            <div class="acc_item_trigger">
              <div class="acc_item_plus"></div>
              <div class="acc_item_minus"></div>
              <div class="acc_item_hr"></div>
              <div class="acc_item_heading">А зачем мне дети?</div>
            </div>
            <div class="acc_item_content">
              <p class="acc_item_p">Чтобы собрать армию, конечно! Через пару поколений естественный отбор и тонны
                мутагена оставят в живых только самых сильных тварей. Из этих тварей ты соберешь свою армию. И начнется
                настоящая битва. Для драконов 4 уровня будут доступны массовые бои, исход которых определяется силой
                отряда. Ты сможешь составлять сеты из уникальных экземпляров и их стоимость будет значительно выше
                стоимости каждой отдельной единицы.<br></p>
              <div class="acc_space"></div>
            </div>
          </div>
          <div class="acc_item">
            <div class="acc_item_trigger">
              <div class="acc_item_plus"></div>
              <div class="acc_item_minus"></div>
              <div class="acc_item_hr"></div>
              <div class="acc_item_heading">Что делать, если дракон мне надоел?</div>
            </div>
            <div class="acc_item_content">
              <p class="acc_item_p">Продай его на маркете, подари другу или напои мутагеном. Если очень сильно надоел –
                убей его, не мучайся.<br></p>
              <div class="acc_space"></div>
            </div>
          </div>
          <div class="acc_item">
            <div class="acc_item_trigger">
              <div class="acc_item_plus"></div>
              <div class="acc_item_minus"></div>
              <div class="acc_item_hr"></div>
              <div class="acc_item_heading">Здесь можно поднять денег?</div>
            </div>
            <div class="acc_item_content">
              <p class="acc_item_p">Да. Если у твоего дракона хорошая генетика, его можно дорого продать или немного(но
                постоянно) зарабатывать на сексе за деньги. Когда соберешь свою армию – поговорим о серьезных
                деньгах.<br></p>
              <p class="acc_item_p">Для особо алчных коллекционеров эфира мы сделали реферальную программу. Если у тебя
                есть друзья, почему бы на них не заработать?
                В твоем личном кабинете можно найти волшебную ссылку. Если раскидать её по друзьям, а друзья перейдут по
                ней на наш сайт и купят яйца, то мы вернем на твой кошелек 30% от продажи первых 9 яиц. Можем вернуть и
                50%, но есть пара условий:<br>– нужно успеть продать 10 яиц или больше;<br>– в числе первых 50-ти
                человек нужно написать нам, почему именно ты достоин получить повышенный процент. <br></p>
              <div class="acc_space"></div>
            </div>
          </div>
          <div class="acc_item">
            <div class="acc_item_trigger">
              <div class="acc_item_plus"></div>
              <div class="acc_item_minus"></div>
              <div class="acc_item_hr"></div>
              <div class="acc_item_heading">Почему игра на блокчейне?</div>
            </div>
            <div class="acc_item_content">
              <p class="acc_item_p">Блокчейн делает все транзакции в игре прозрачными. Их невозможно будет подделать — и
                твоего дракона никто не сможет украсть. Не будет читеров и халявщиков.<br></p>
              <p class="acc_item_p">Подробности читай вот <a
                  href="https://app2top.ru/industry/kak-blokchejn-mozhet-prigodit-sya-razrabotchiku-igr-107340.html"
                  class="text_link">здесь </a><br></p>
              <div class="acc_space"></div>
            </div>
          </div>
          <div class="acc_item">
            <div class="acc_item_trigger">
              <div class="acc_item_plus"></div>
              <div class="acc_item_minus"></div>
              <div class="acc_item_hr"></div>
              <div class="acc_item_heading">Зачем мне Ethereum кошелек?</div>
            </div>
            <div class="acc_item_content">
              <p class="acc_item_p">Дракон — это токен стандарта <strong>ERC-721</strong> в сети Etherium, привязанный к
                адресу кошелька. Нет кошелька — нет дракона. <br></p>
              <div class="acc_space"></div>
            </div>
          </div>
          <div class="acc_item">
            <div class="acc_item_trigger">
              <div class="acc_item_plus"></div>
              <div class="acc_item_minus"></div>
              <div class="acc_item_hr"></div>
              <div class="acc_item_heading">Можно ли уничтожить дракона?</div>
            </div>
            <div class="acc_item_content">
              <p class="acc_item_p">Да. Надежно уничтожив блокчейн Etherium или просто закрыв сайт (или приложение) и
                забыв об этом.<br></p>
              <div class="acc_space"></div>
            </div>
          </div>
          <div class="acc_item">
            <div class="acc_item_trigger">
              <div class="acc_item_plus"></div>
              <div class="acc_item_minus"></div>
              <div class="acc_item_hr"></div>
              <div class="acc_item_heading">А если я забью на дракона?</div>
            </div>
            <div class="acc_item_content">
              <p class="acc_item_p">Дракон растет, мутирует, дерется и даже умирает только тогда, когда ты сам этого
                хочешь. Если ты перестанешь заходить сюда, твои драконы будут просто грустить и ждать хозяина.<br></p>
              <div class="acc_space"></div>
            </div>
          </div>
          <div class="acc_item">
            <div class="acc_item_hr"></div>
          </div>
        </div>
        <div class="link_wrap"><a href="https://t.me/joinchat/DEnpkgr31xVjG4io-wmwLQ" class="text_link faq_link">Задать
            вопрос через Telegram</a></div>
      </div>
    </div>
    <div id="action" class="section_egg web3_detect">
      <div class="container-3 w-container">
        <h2 class="heading_02 heading_egg">Дай. Мне. Яйцо.</h2>
        <p class="sub_heading">Всего 10 000 яиц!<br>А каждое следующее проданное яйцо стоит дороже.
          А покупать оптом - выгоднее!<br></p>
        <div class="counters">
          <div class="counter-sm_wrap">
            <div class="counter_header">Доступно яиц</div>
            <div class="counter counter_small">
              <div class="counter_cell small_black_egg"></div>

              <% data.totalDragons.forEach(el => { %>
              <div class="counter_cell small_black">
                <div class="counter_num num_small_black"><%=el%></div>
              </div>
              <% }) %>

              <div class="counter_shadow"></div>
            </div>
          </div>
          <div class="counter-sm_wrap">
            <div class="counter_header counter_header_pink">Текущая стоимость</div>
            <div class="counter counter_small">
              <% data.crowdSaleDragonPrice.split('').forEach(el => { %>
              <div class="counter_cell small_white">
                <div class="counter_num num_small_white"><%=el%></div>
              </div>
              <% }) %>
              <div class="counter_cell small_white_egg"></div>
              <div class="counter_shadow"></div>
            </div>
          </div>
          <div class="counter-sm_wrap">
            <div class="counter_header">Следующее яйцо</div>
            <div class="counter counter_small">

              <% data.nextPrice.split('').forEach(el => { %>
              <div class="counter_cell small_black">
                <div class="counter_num num_small_black"><%=el%></div>
              </div>
              <% }) %>

              <div class="counter_cell small_black_eth"></div>
              <div class="counter_shadow"></div>
            </div>
          </div>
        </div>
        <div class="graph_block">
          <div class="axis_name price">Цена</div>
          <div style="left: -100px;" class="axis_name">Яиц продано</div><img src="/images/graph.png" width="632"
            srcset="/images/graph-p-500.png 500w, /images/graph-p-800.png 800w, /images/graph-p-1080.png 1080w, /images/graph.png 1264w"
            sizes="(max-width: 479px) 300px, (max-width: 767px) 422px, 632px" alt="" class="image-4">
        </div><a name="reftoapp" href="https://eth.dragoneth.com" class="btn_primary w-button">ДАЙ. МНЕ. ЯЙЦО</a>
        <div class="store_block">
          <div class="store_icon_wrap"></div>
          <div class="sub_heading">Coming to App Store soon</div>
        </div>
      </div>
    </div>
    <div id="actionnone" class="section_egg metamask">
      <div class="container-3 w-container">
        <h2 class="heading_02 heading_egg">Не понял <br>Как Купить Яйцо?</h2>
        <p class="sub_heading warning">Все ясно, у тебя не стоит MetaMask. Это плагин такой для браузера и он же - твой
          крипто кошелек. Качай его и возвращайся.<br></p>
        <div class="counters">
          <div class="counter-sm_wrap">
            <div class="counter_header">Доступно яиц</div>
            <div class="counter counter_small">
              <div class="counter_cell small_black_egg"></div>

              <% data.totalDragons.forEach(el => { %>
              <div class="counter_cell small_black">
                <div class="counter_num num_small_black"><%=el%></div>
              </div>
              <% }) %>

              <div class="counter_shadow"></div>
            </div>
          </div>
          <div class="counter-sm_wrap">
            <div class="counter_header counter_header_pink">Текущая стоимость</div>
            <div class="counter counter_small">

              <% data.crowdSaleDragonPrice.split('').forEach(el => { %>
              <div class="counter_cell small_white">
                <div class="counter_num num_small_white"><%=el%></div>
              </div>
              <% }) %>

              <div class="counter_cell small_white_egg"></div>
              <div class="counter_shadow"></div>
            </div>
          </div>
          <div class="counter-sm_wrap">
            <div class="counter_header">Следующее яйцо</div>
            <div class="counter counter_small">

              <% data.nextPrice.split('').forEach(el => { %>
              <div class="counter_cell small_black">
                <div class="counter_num num_small_black"><%=el%></div>
              </div>
              <% }) %>

              <div class="counter_cell small_black_eth"></div>
              <div class="counter_shadow"></div>
            </div>
          </div>
        </div>
        <p class="sub_heading">Ставишь MetaMask, меняешь эфир на яйца. <br>Подробная инструкция вот здесь:<br></p>
        <div class="video_block">
          <div style="padding-top:56.17021276595745%" id="w-node-f6b216900c2c-1c21aa38" class="w-embed-youtubevideo">
            <iframe
              src="https://www.youtube.com/embed/sQl43LJHjJs?rel=0&amp;controls=1&amp;autoplay=0&amp;mute=0&amp;start=0"
              frameborder="0" style="position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:auto"
              allow="autoplay; encrypted-media" allowfullscreen=""></iframe></div>
        </div><a href="https://bitgid.com/metamask-wallet/" ttarget="_blanck" class="btn_primary w-button">Узнать
          больше</a>
      </div>
    </div>
    <div class="footer">
      <div class="footer_block w-container">
        <div class="logo_footer w-clearfix">
          <div class="footer_logo_img_wrap"><img src="/images/logo_img.png" width="33"
              srcset="/images/logo_img-p-500.png 500w, /images/logo_img.png 567w" sizes="33px" alt=""></div>
          <div class="footer_logo_text">Dragon ETH</div>
        </div>
        <div class="footer_links_block"><a href="https://t.me/joinchat/DEnpkgr31xVjG4io-wmwLQ" target="_blanck"
            class="footer_link">Задать вопрос</a><a href="#" id="btn_contract" class="footer_link"> Смарт
            контракты</a><a href="/privacy" class="footer_link">Privacy policy</a><a href="/terms"
            class="footer_link">Terms of service</a></div>
        <div class="div-block-3">
          <div class="social_links"><a href="https://www.facebook.com/ethdragons" class="social facebook w-inline-block"
              target="_blank" title="Facebook"></a><a href="https://twitter.com/dragons_eth"
              class="social twitter w-inline-block" target="_blank" title="Twitter"></a><a
              href="https://www.reddit.com/r/DragonsEth/" class="social reddit_02 w-inline-block" target="_blank"
              title="Reddit"></a><a href="https://medium.com/@dragons_eth" class="social medium w-inline-block"
              target="_blank" title="Medium"></a><a href="https://github.com/DeepDragons"
              class="social gitlab w-inline-block" target="_blank" title="Source code on Gitlab"></a><a
              href="https://discord.gg/kHMxad4" class="social dicord w-inline-block" target="_blank"
              title="Discord"></a><a href="tg://join?invite=DEnpkgr31xVjG4io-wmwLQ"
              class="social telegram w-inline-block" title="Join Telegram chat"></a></div><a href="#source"
            class="footer_btn w-button">помочь нам</a>
        </div>
        <div class="cr_block">
          <div class="text-block-3">© DragonETH 2018</div>
        </div>
      </div>
    </div>
    <div class="w-embed">
      <style>
        .sticky {
          position: -webkit-sticky !important;
          position: sticky !important
        }

        .heading_center {
          background: linear-gradient(#fff 15%, rgba(255, 254, 249, 0.6) 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent
        }

        .heading_bottom {
          background: linear-gradient(rgba(255, 254, 246, 0.7) 0%, rgba(255, 254, 246, 0.3) 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent
        }

        .heading_02 {
          background: linear-gradient(to right, #fff 40%, rgba(163, 163, 163, 0.3) 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent
        }

        .logo_text,
        .footer_logo_text {
          background: linear-gradient(to right, #BBB 0%, #D0D0D0 12%, #DDD 33%, #FFF 52%, #BBB 63%, #797979 78%, #CECECE 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent
        }

        .w-nav:before {
          display: none
        }

        .w-nav:after {
          display: none
        }

        .menu_button:hover .burger_image {
          background-position: -60px 50%
        }

        .menu_button:hover .burger_text {
          color: #D0AB2F;
          text-shadow: 0 0 9px rgba(255, 205, 39, 0.8)
        }

        .menu_button:active .burger_image {
          background-position: -120px 50%
        }

        .menu_button:active .burger_text {
          color: #B9982B;
          text-shadow: none
        }

        .acc_item_trigger:hover .acc_item_heading {
          color: #B9982B
        }

        .acc_item_trigger:hover .acc_item_plus {
          background-position: -25px 0
        }

        .nav_btn:hover .nb_span_02 {
          background-position: 50% -20px
        }

        .os_link {
          word-wrap: break-word
        }

        .left_dragon_wrap {
          animation: move_01 3.5s steps(82) infinite
        }

        @keyframes move_01 {
          from {
            background-position-x: 0
          }

          to {
            background-position-x: -41000px
          }
        }

        .dragon_right_wrap {
          animation: move_02 3.5s steps(76) infinite
        }

        @keyframes move_02 {
          from {
            background-position-x: 0
          }

          to {
            background-position-x: -24320px
          }
        }

        a {
          cursor: pointer;
          text-decoration: none;
          color: #8c76d8
        }

        * {
          outline: none
        }

        .modal {
          display: none;
          position: fixed;
          z-index: 1;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: auto;
          background-color: #000;
          background-color: rgba(0, 0, 0, 0.4)
        }

        .modal-content {
          background-color: #1F2139;
          margin: 15% auto;
          padding: 30px;
          border: 1px solid #8c76d8;
          width: fit-content;
        }

        .close {
          color: #f261ee;
          float: right;
          font-size: 28px;
          font-weight: 700;
          padding-left: 97%
        }

        .close:hover,
        .close:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer
        }
      </style>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/js/webflow.js" type="text/javascript"></script>
    <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
    <script>
      window.addEventListener('load', async () => {
        window.cookieconsent.initialise({
          "palette": {
            "popup": {
              "background": "#000"
            },
            "button": {
              "background": "#f1d600"
            }
          },
          "position": "bottom-left"
        });
      });
    </script>

    <div id="contracts" class="modal" style="display: none;">

      <div class="modal-content">
        <span id="close_btn" class="close">&times;</span>
        <%Object.keys(data.contract).forEach(key => { %>
        <a class="nav_link w-nav-link" href="https://etherscan.io/address/<%=data.contract[key]%>"
          target="_blank"><%=key%></a>
        <br>
        <% }) %>
      </div>

    </div>

    <div id="ref" class="modal" style="display: none;">

      <div class="modal-content">
        <span id="close_btn0" class="close">&times;</span>
        <input id="ref_link" class="nav_btn" type="text" style="width: 100%;">
        <a href="#" onclick="copy(document.getElementById('ref_link'))" class="btn_small w-button">Copy</a>
      </div>

    </div>

    <script>
      let contracts = document.getElementById('contracts');
      let ref = document.getElementById('ref');
      let btn = document.getElementById("btn_contract");
      let btn0 = document.getElementById("ref_contract");
      let span = document.getElementById("close_btn");
      let span0 = document.getElementById("close_btn0");

      btn.onclick = function () {
        contracts.style.display = "block";
      }
      btn0.onclick = function () {
        let refLink = document.getElementById("ref_link");
        let refAddress = 'your ether address';
        if (window.ethereum) {
          if (web3.eth.coinbase) {
            refAddress = web3.eth.coinbase;
          }
        }
        refLink.value = `${window.location.origin}?ref=${refAddress}`;
        ref.style.display = "block";
      }


      span.onclick = function () {
        contracts.style.display = "none";
      }
      span0.onclick = function () {
        ref.style.display = "none";
      }

      window.onclick = function (event) {
        if (event.target == contracts) {
          contracts.style.display = "none";
        } else if (event.target == ref) {
          ref.style.display = "none";
        }
      }

      function copy(event) {
        if (typeof event == "string") {
          let $temp = $("<input>");
          $("body").append($temp);
          $temp.val($(event).text()).select();
          $temp.css('opacity', '0');

          $('#copied').text('скопировано');
        } else {
          event.select();
        }

        document.execCommand("copy");
      }
    </script>

</body>

</html>
