<!DOCTYPE html><html lang=en><head><meta charset=utf-8><meta http-equiv=X-UA-Compatible content="IE=edge"><meta name=viewport content="width=device-width,initial-scale=1"><link rel=icon href=/favicon.ico><title>DragonETH</title><link rel=stylesheet href=/css/min.css><link href="https://fonts.googleapis.com/css?family=Open+Sans|Roboto" rel=stylesheet><link href=/css/chunk-02a037a6.e829a403.css rel=prefetch><link href=/css/chunk-0cfa1432.22968410.css rel=prefetch><link href=/css/chunk-0da0f4ac.e2ddd25d.css rel=prefetch><link href=/css/chunk-12a5fa36.a1377435.css rel=prefetch><link href=/css/chunk-1bfa290c.377cf1b4.css rel=prefetch><link href=/css/chunk-454a4cae.d304f10e.css rel=prefetch><link href=/css/chunk-48082d98.6fb9154a.css rel=prefetch><link href=/css/chunk-49eb4c56.4a664fcf.css rel=prefetch><link href=/css/chunk-56dbd815.e2ddd25d.css rel=prefetch><link href=/css/chunk-67397f22.e2ddd25d.css rel=prefetch><link href=/css/chunk-7e600c26.16a8b9b5.css rel=prefetch><link href=/css/chunk-cff5a29c.e2ddd25d.css rel=prefetch><link href=/js/chunk-02a037a6.95beea96.js rel=prefetch><link href=/js/chunk-0cfa1432.b264358e.js rel=prefetch><link href=/js/chunk-0da0f4ac.d2b10a88.js rel=prefetch><link href=/js/chunk-12a5fa36.02fce6bc.js rel=prefetch><link href=/js/chunk-1bfa290c.6836a5a6.js rel=prefetch><link href=/js/chunk-27be0370.46de4c05.js rel=prefetch><link href=/js/chunk-2d0cebeb.dc1b5f61.js rel=prefetch><link href=/js/chunk-454a4cae.299b494a.js rel=prefetch><link href=/js/chunk-48082d98.94453afb.js rel=prefetch><link href=/js/chunk-49eb4c56.2b424ff6.js rel=prefetch><link href=/js/chunk-56dbd815.83c8647e.js rel=prefetch><link href=/js/chunk-67397f22.1554db45.js rel=prefetch><link href=/js/chunk-7e600c26.3d9066d5.js rel=prefetch><link href=/js/chunk-9479ca16.e13dd5de.js rel=prefetch><link href=/js/chunk-cff5a29c.07019fb7.js rel=prefetch><link href=/css/app.495b1584.css rel=preload as=style><link href=/css/chunk-vendors.51c0f58e.css rel=preload as=style><link href=/js/app.bc3bc135.js rel=preload as=script><link href=/js/chunk-vendors.6efaf075.js rel=preload as=script><link href=/css/chunk-vendors.51c0f58e.css rel=stylesheet><link href=/css/app.495b1584.css rel=stylesheet></head><body><noscript><strong>We're sorry but v-dragontrx doesn't work properly without JavaScript enabled. Please enable it to continue.</strong></noscript><div id=app style="display: none;"></div><div id=fountainG><h1 id=loaderlogo class=logo>DragonETH</h1><div class=cssload-thecube><div class="cssload-cube cssload-c1"></div><div class="cssload-cube cssload-c2"></div><div class="cssload-cube cssload-c4"></div><div class="cssload-cube cssload-c3"></div></div></div><script>var contracts = {
        crowdsale: "0x45e73ad30e0662c7262f913dc5715d03872c3292",
        dragonseth: "0x2050a13468359b78441f3dc3e0035e389ba4b08b",
        marketPlace: "0x98f9c00705b6466b0f83f4ca19203dba89413659",
        fightPlace: "0x29a9b3378c63cbc70727721ad9ef23218e66f8b1",
        mutagen: "0xf02fd49f71429e52f76b1bc6907670bd1fd78bcd",
        stat: "0x33db6b612c427a13b767273f5138222eca247c7e",
        proxy: "0x08e9ee022b1c38cb93f1fd59fcabcb86216c26a8",
        genlab: '0xc7130374e8fa2fc0235df0b6bca4285c4146ab26'
      };

      var config = {
        cloud: 'https://res.cloudinary.com/dragonseth/image/upload/',
        currentPrice: '16200000000000000',
        eggsSold: '560',
        buyCost: '10000000000000',
        currency: 'ETH',
        netID: 42,
        providers: 'https://kovan.infura.io/v3/d9877ecb6cf349baa97ca282de1f2ed4',
        blockExplorer: 'https://kovan.etherscan.io/'
      };</script><script src=/js/chunk-vendors.6efaf075.js></script><script src=/js/app.bc3bc135.js></script></body></html>