<!DOCTYPE html>
<html data-wf-page="5be258ca3f7813861c21aa38" data-wf-site="5be258ca3f781398d721aa37">

<head>
  <meta charset="utf-8">
  <title>DragonETH</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
  <link rel="stylesheet" type="text/css"
    href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
  <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>

  <!-- Yandex.Metrika counter -->
  <script type="text/javascript">
    (function (m, e, t, r, i, k, a) {
      m[i] = m[i] || function () { (m[i].a = m[i].a || []).push(arguments) };
      m[i].l = 1 * new Date(); k = e.createElement(t), a = e.getElementsByTagName(t)[0], k.async = 1, k.src = r, a.parentNode.insertBefore(k, a)
    })
      (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

    ym(61617652, "init", {
      clickmap: true,
      trackLinks: true,
      accurateTrackBounce: true
    });
  </script>
  <noscript>
    <div><img src="https://mc.yandex.ru/watch/61617652" style="position:absolute; left:-9999px;" alt="" /></div>
  </noscript>
  <!-- /Yandex.Metrika counter -->
  <style>
    .w-embed-youtubevideo {
      width: 100%;
      position: relative;
      padding-bottom: 0px;
      padding-left: 0px;
      padding-right: 0px;
      background-image: url(https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg);
      background-size: cover;
      background-position: 50% 50%;
    }

    .w-embed-youtubevideo:empty {
      min-height: 75px;
      padding-bottom: 56.25%;
    }
  </style>
  <link href="/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="/css/webflow.css" rel="stylesheet" type="text/css">
  <link href="/css/dragoneth.webflow.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js" type="text/javascript"></script>
  <script
    type="text/javascript">WebFont.load({ google: { families: ["Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic", "Fira Sans:regular,500,600,700,800:cyrillic,latin", "Roboto:100,300,regular,500,700:cyrillic,latin"] } });</script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script
    type="text/javascript">!function (o, c) { var n = c.documentElement, t = " w-mod-"; n.className += t + "js", ("ontouchstart" in o || o.DocumentTouch && c instanceof DocumentTouch) && (n.className += t + "touch") }(window, document);</script>
  <link rel="apple-touch-icon" sizes="57x57" href="/apple-icon-57x57.png">
  <link rel="apple-touch-icon" sizes="60x60" href="/apple-icon-60x60.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/apple-icon-72x72.png">
  <link rel="apple-touch-icon" sizes="76x76" href="/apple-icon-76x76.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/apple-icon-114x114.png">
  <link rel="apple-touch-icon" sizes="120x120" href="/apple-icon-120x120.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/apple-icon-144x144.png">
  <link rel="apple-touch-icon" sizes="152x152" href="/apple-icon-152x152.png">
  <link rel="apple-touch-icon" sizes="180x180" href="/apple-icon-180x180.png">
  <link rel="icon" type="image/png" sizes="192x192" href="/android-icon-192x192.png">
  <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
  <link rel="icon" type="image/png" sizes="96x96" href="/favicon-96x96.png">
  <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
  <link rel="manifest" href="/manifest.json">
  <meta name="msapplication-TileColor" content="#ffffff">
  <meta name="msapplication-TileImage" content="/ms-icon-144x144.png">
  <link href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png" rel="apple-touch-icon">
</head>

<body class="body">
  <div class="voile"></div>
  <div class="bgr_00"></div>
  <div data-collapse="medium" data-animation="over-left" data-duration="400"
    data-w-id="563dd592-c922-2a09-1ab2-d33f54dfb545" class="navbar_fixed w-nav">
    <div class="menu_button w-nav-button">
      <div class="burger_image"></div>
      <div class="burger_text_wrap">
        <div class="burger_text">Menu</div>
      </div>
    </div>
    <a href="/" class="brand w-nav-brand">
      <div class="logo_wrap w-clearfix">
        <div class="logo_img_wrap"></div>
        <div class="logo_text">Dragon ETH</div>
      </div>
    </a>
    <nav role="navigation" class="nav-menu w-nav-menu">
      <div class="flex_wrap">
        <div class="links_block">
          <div class="close_btn_wrap">
            <div class="menu_button close w-nav-button">
              <div class="burger_image cross"></div>
              <div class="burger_text_wrap">
                <div class="burger_text">Close</div>
              </div>
            </div>
          </div><a href="/" class="nav_link w-nav-link">Where am I? </a><a href="#about"
            class="nav_link w-nav-link">What&#x27;s going on?</a><a href="#how-it-work" class="nav_link w-nav-link">How
            does it work?</a><a href="#roadmap" class="nav_link w-nav-link">Our Roadmap</a><a href="#friends"
            class="nav_link w-nav-link">Referral Program</a><a href="#faq" class="nav_link w-nav-link">Frequently Asked
            Questions</a>
        </div><a name="reftoapp" href="https://eth.dragoneth.com" class="nav_btn w-button"><span class="nb_span_01">buy
            an</span> <span class="nb_span_02">egg</span> <%=data.crowdSaleDragonPrice%><span
            class="text-span">eth</span></a>
      </div>
    </nav>
    <div class="lang_selector">
      <a class="lang_flag w-inline-block lang_flag_selected">
        <div class="en_lang lang_active"></div>
      </a>
      <a href="/language/change/ru" class="lang_flag w-inline-block">
        <div class="ru_lang"></div>
      </a>
    </div>
  </div>
  <div id="hero" data-w-id="345b7f53-b0e2-17d6-42f5-499d62f1056e" class="section_hero">
    <div data-w-id="f4c7366d-0ef9-0a18-e3da-970151d1c15f" class="cloud_center"></div>
    <div class="cloud_center_na"></div>
    <div data-w-id="ca7bdebc-231c-e098-a697-ab942c11b549" class="cloud_left"></div>
    <div class="cloud_left_na"></div>
    <div data-w-id="f2b11e74-260a-f94c-3b29-9e4f86b87451" class="cloud_right"></div>
    <div class="cloud_right_na"></div>
    <div class="dragon_left">
      <div class="left_dragon_wrap">
        <div class="html-embed w-embed w-iframe"></div>
      </div>
    </div>
    <div class="dragon_right">
      <div class="dragon_right_wrap">
        <div class="html-embed-2 w-embed w-iframe"></div>
      </div>
    </div>
    <div class="container w-container">
      <div class="hero_center">
        <div class="heading_wrap">
          <div class="heading heading_top">You are in the</div>
          <h1 class="heading heading_center">DragonETH</h1>
          <div class="heading heading_bottom"> territory</div>
        </div>
        <div class="hero_text">
          <div class="text-block">Here, you can buy Dragons for Ether,<br>and they will fuck, fight, mutate, and die.
            Because Dragons are no Kitties.</div>
        </div><a name="reftoapp" href="https://eth.dragoneth.com" class="btn_primary hero_btn w-button">Give. Me. The
          egg.</a><a href="#about" class="scroll_sign w-inline-block"></a>
      </div>
    </div>
  </div>
  <div id="about" data-w-id="6affd72f-28e5-9434-fe84-f174aeba58d8" class="section_about">
    <div class="w-container">
      <h2 class="heading_02 about_head">What&#x27;s going on here?</h2>
      <div class="_2-col_block">
        <div class="about_img"><img src="images/ipad.png" srcset="images/ipad-p-500.png 500w, images/ipad.png 790w"
            sizes="(max-width: 991px) 240px, 400px" alt="" class="image-3"></div>
        <div class="detail_wrap">
          <div class="detail_wings wings_01"></div>
          <h3 class="heading_03">DragonETH is...</h3>
        </div>
        <p class="text_p space_01">an investment game based on Ethereum smart contracts. Each Dragon is an ERC-721 token
          protected by blockchain. You know everything there is to know about blockchain, so, let’s hold back from
          spoon-feeding.</p>
        <div class="detail_wrap">
          <div class="detail_horns"></div>
          <h3 class="heading_03">Everyone buys Eggs</h3>
        </div>
        <p class="text_p">Everyone buys Eggs. In 3 weeks your Dragon hatches from an Egg that can be bought by a single
          movement of your hand – simply install the MetaMask browser extension. Emission is 100,000 only, so the
          further, the costlier it becomes.</p>
        <div class="counter">
          <div class="counter_cell counter_cell_egg"></div>
          <div class="counter_cell">
            <div class="counter_num">1</div>
            <div class="counter_cell">
              <div data-w-id="e1de0c84-8bad-e075-f600-c7c76d791c1e" class="counter_num_wrap">

                <div class="counter_num counter_9">9</div>
                <div class="counter_num counter_4"><%=data.totalDragons[0]%></div>
              </div>
            </div>
          </div>
          <div class="counter_cell">
            <div class="counter_num">9</div>
            <div class="counter_cell">
              <div data-w-id="6d7c630f-d68b-6064-bb1d-ca554ec28c63" class="counter_num_wrap">
                <div class="counter_num counter_9">9</div>
                <div class="counter_num counter_5"><%=data.totalDragons[1]%></div>
              </div>
            </div>
          </div>
          <div class="counter_cell">
            <div class="counter_num">9</div>
            <div class="counter_cell">
              <div data-w-id="b278f25d-9a5e-d192-0ff9-e42956c7f810" class="counter_num_wrap">
                <div class="counter_num counter_9">9</div>

                <div class="counter_num counter_6"><%=data.totalDragons[2]%></div>
              </div>
            </div>
          </div>
          <div class="counter_cell">
            <div class="counter_num">9</div>
            <div class="counter_cell">
              <div data-w-id="4b603482-4fba-2013-4926-e337c5f8a6b3" class="counter_num_wrap">
                <div class="counter_num counter_9">9</div>
                <div class="counter_num counter_7"><%=data.totalDragons[3]%></div>
              </div>
            </div>
          </div>
          <div class="counter_cell">
            <div class="counter_num">9</div>
            <div class="counter_cell">
              <div data-w-id="beaf12b0-6914-f6eb-3541-c96fc07fa44a" class="counter_num_wrap">
                <div class="counter_num counter_9">9</div>
                <div class="counter_num counter_8"><%=data.totalDragons[4]%></div>
              </div>
            </div>
          </div>
          <div class="counter_shadow"></div>
        </div>
      </div>
    </div>
    <div id="bc" data-w-id="9ca618a6-51a8-0586-61c5-87ea109ee3fb" class="section_bc">
      <div data-w-id="d271ac5d-41c1-1518-724b-f615d56d4911" class="bc_cloud_right"></div>
      <div class="bc_cloud_right_na"></div>
      <div data-w-id="fd6d9fd5-fa5d-363a-4cfb-62ee9d29cd66" class="bc_cloud_left"></div>
      <div class="bc_cloud_left_na"></div>
      <div class="w-container">
        <h2 class="heading_02 heading_friends">Why the hell do I need your blockchain?</h2>
        <div class="friends_card">
          <div class="bc_card_left"></div>
          <div class="friends_card_right">
            <div class="text_p bc_text">If you don’t know what blockchain is, we have bad news for you. It’s 2019, dude.
              In a couple of years, we will pay with crypto for a coffee, and you haven’t even installed MetaMask yet.
            </div>
            <p class="text_p">Read the details <a
                href="https://www.theguardian.com/technology/2018/jan/29/cryptocurrencies-bitcoin-blockchain-what-they-really-mean-for-our-future"
                target="_blanck" class="text_link">here.</a></p>
          </div>
        </div>
      </div>
    </div>
    <div id="how-it-work" class="section scroll_container">
      <div class="sticky"></div>
      <div class="sticky_content w-container">
        <h2 class="heading_02 how_head">How does it work?</h2>
        <div class="how_card w-clearfix">
          <div class="img_float card_img_01"></div>
          <div class="text_float">
            <div class="text_float_wrap">
              <div class="detail_wrap">
                <div class="detail_tush"></div>
                <h3 class="heading_03 text_black">What s a Dragon?</h3>
              </div>
              <p class="text_p text_p_black">Who the hell knows. 30 battle and 22 visual genes, 256 colour schemes with
                some truly rare combinations that give your Dragon a unique appearance and a supernatural power.<br></p>
              <p class="text_p text_p_black">But there is no guarantee that your Egg will hatch into a battle unit
                capable of breeding and fighting. Buy more Eggs and pray for good luck. <br></p>
            </div>
          </div>
        </div>
        <div class="how_card w-clearfix">
          <div class="text_float">
            <div class="text_float_wrap">
              <div class="detail_wrap">
                <div class="detail_eye"></div>
                <h3 class="heading_03 text_black">And what to do with it?</h3>
              </div>
              <p class="text_p text_p_black">First of all, wait until it hatches. Then evaluate its potential: visual
                and battle characteristics. If it turns out to be quite a Dragon, propose it for a fight.<br></p>
              <p class="text_p text_p_black">A Dragon is born for a good fight. The outcome of a fight is defined by
                your Dragon’s strength. After each fight you get a mutagen. When you win – a whole lot of mutagen, when
                you lose – just a bit of it.<br></p>
            </div>
          </div>
          <div class="img_float card_img_02"></div>
        </div>
        <div class="how_card w-clearfix">
          <div class="img_float card_img_03"></div>
          <div class="text_float">
            <div class="text_float_wrap">
              <div class="detail_wrap">
                <div class="detail_tush"></div>
                <h3 class="heading_03 text_black">What s the mutagen?</h3>
              </div>
              <p class="text_p text_p_black">A decent mutagen. You feed it to your Dragon, and the Dragon mutates.<br>
              </p>
              <p class="text_p text_p_black">Mutation is the process of your Dragon’s DNA change (yes, the token
                itself). Your unique beast may die overdosed or reborn into something different or even more unique.<br>
              </p>
              <p class="text_p text_p_black">If your Dragon is weak but attractive, then go to the gene laboratory.
                There, you may exchange anything for money.<br></p>
            </div>
          </div>
        </div>
        <div class="how_card w-clearfix">
          <div class="text_float">
            <div class="text_float_wrap">
              <div class="detail_wrap">
                <div class="detail_eye_cap"></div>
                <h3 class="heading_03 text_black">Okay, what else?</h3>
              </div>
              <p class="text_p text_p_black">When your Dragon gets older, it may breed during breaks between fights.<br>
              </p>
              <p class="text_p text_p_black">Yes, you always have to pay for sex. Yes, it’s possible to fuck while being
                high on mutagen. No, you can’t always take the kiddoes.<br></p>
            </div>
          </div>
          <div class="img_float card_img_04"></div>
        </div>
      </div>
    </div>
    <div id="roadmap" data-w-id="ce1fb2e4-50b7-5a76-c15c-9176260c22fc" class="section-3 section_roadmap">
      <div data-w-id="976fa1cd-0caa-ec76-5baa-5b8eecabc219" class="rm_cloud_left_01"></div>
      <div class="rm_cloud_left_01_na"></div>
      <div data-w-id="66acaeaa-4004-edc3-8815-995251423ca0" class="rm_cloud_right"></div>
      <div class="rm_cloud_right_na"></div>
      <div data-w-id="7223b0fd-c206-e08c-5fe3-c77bf8c2b669" class="rm_cloud_left_02"></div>
      <div class="rm_cloud_left_02_na"></div>
      <div class="circle_01"></div>
      <div class="circle_02"></div>
      <div class="circle_03"></div>
      <div class="container-5 w-container">
        <h2 class="heading_02 roadmap_heading">Roadmap</h2>
        <p class="sub_heading">What’s next? Here’s the plan:</p>
        <div class="rm_wrap">
          <div class="detail_wrap detail_wrap_center">
            <div class="detail_wings"></div>
            <div class="rm_heading">Alpha web user interface</div>
          </div>
          <div class="flag_checked">
            <div class="flag_checked_text">Done</div>
          </div>
          <div class="rm_f_wrap">
            <div class="rm_feature">Eggs and Dragons Trade</div>
            <div class="rm_feature rm_f_fights">Fights</div>
            <div class="rm_feature rm_f_breeding">Breeding</div>
            <div class="rm_feature rm_f_mutagen">Mutagen</div>
            <div class="rm_feature rm_f_lab">Genetic Lab</div>
          </div>
          <div class="pass_block">
            <div class="pass_circle"></div>
            <div class="pass_line_long"></div>
            <div class="pass_circle"></div>
          </div>
          <div class="detail_wrap detail_wrap_center">
            <div class="detail_eye_cap eye_cap_02"></div>
            <div class="rm_heading">Alpha version of the iOS app</div>
          </div>
          <div class="flag_checked">
            <div class="flag_checked_text">Done</div>
          </div>
          <div class="rm_f_wrap">
            <div class="rm_feature rm_f_app">Native App</div>
            <div class="rm_feature rm_f_reg">Simplified Registration</div>
            <div class="rm_feature rm_f_token">Token in<span class="rm_f_long"> Your</span> Smartphone</div>
            <div class="rm_feature rm_f_push">Push Notifications</div>
            <div class="rm_feature rm_f_time">Real-Time Monitoring <span class="rm_f_long">of the Situation</span></div>
          </div>
          <div class="rm_review">
            <div class="rm_review_arrow"></div>
            <div class="rm_review_heading">We had some cash</div>
            <div class="rm_review_text">And built an alpha version and an iOS app. Buy and sell Eggs and Dragons,
              organize fights, produce offspring, throw money at the Genetic Lab.</div>
          </div>
          <div class="pass_block">
            <div class="pass_circle"></div>
            <div class="pass_line"></div>
            <div class="roadmap_divider">and now for the future plans</div>
            <div class="pass_line pass_line_grey"></div>
            <div class="pass_circle pass_circle_grey"></div>
          </div>
          <div class="detail_wrap detail_wrap_center">
            <div class="detail_horns_grey"></div>
            <div class="rm_heading rm_heading_future">2D Game Interface</div>
          </div>
          <div class="flag_future">
            <div class="flag_future_text">Sale for $100,000</div>
          </div>
          <div class="rm_f_wrap">
            <div class="rm_feature rm_f_map">Game Locations</div>
            <div class="rm_feature rm_f_anim">Animated Battles Consequent</div>
            <div class="rm_feature rm_f_update">App Update</div>
          </div>
          <div class="pass_block">
            <div class="pass_circle pass_circle_grey"></div>
            <div class="pass_line_long pass_line_grey"></div>
            <div class="pass_circle pass_circle_grey"></div>
          </div>
          <div class="detail_wrap detail_wrap_center">
            <div class="detail_horns_grey"></div>
            <div class="rm_heading rm_heading_future">3D Game Interface</div>
          </div>
          <div class="flag_future">
            <div class="flag_future_text">Sale for $500,000</div>
          </div>
          <div class="rm_f_wrap">
            <div class="rm_feature rm_f_3d">3D Dragons</div>
            <div class="rm_feature rm_f_multi">Multiplayer (Apple ARkit 2.0)</div>
            <div class="rm_feature rm_f_update">Consequent App Update</div>
            <div class="rm_feature rm_f_ar">Battle in Augmented Reality</div>
          </div>
          <div class="rm_review">
            <div class="rm_review_arrow"></div>
            <div class="rm_review_heading">When we raise $500,000</div>
            <div class="rm_review_text">We’ll kickstart the game in 3D. We all want to see the army of Dragons fighting
              in augmented reality. Well, that’s why it was all actually started.</div>
          </div>
        </div>
      </div>
    </div>
    <div id="friends" data-w-id="f4d936f6-d9e8-ba92-4e74-fb89fe8bd7f9" class="section_friends">
      <div data-w-id="c61b991e-7060-c7fd-87a1-07cd0e3bc7fe" class="friends_cloud_left"></div>
      <div class="friends_cloud_left_na"></div>
      <div data-w-id="3721476c-b6b2-a452-be4f-ec4e565bfa7b" class="friends_cloud_right"></div>
      <div class="friends_cloud_right_na"></div>
      <div class="w-container">
        <h2 class="heading_02 heading_friends">If you have friends...</h2>
        <div class="sub_heading">why don&#x27;t you make money on them?</div>
        <div class="friends_card">
          <div class="friends_card_left"></div>
          <div class="friends_card_right">
            <p class="text_p">There is a magic link. </p>
            <p class="text_p">If you share it with your friends and they follow it, go to our website and buy Eggs, then
              we will return 30% of the purchase amount to your wallet.</p><a id="ref_contract" href="#"
              class="btn_small w-button">Get referral link</a>
          </div>
        </div>
      </div>
    </div>
    <div id="source" class="section_os">
      <div class="container-2 w-container">
        <h2 class="heading_02 heading_os">Don&#x27;t feel comfortable<br>with something?</h2>
        <div class="os_card">
          <div class="os_card_text">
            <p class="os_text_heading">Go and do it better.<br></p>
            <p class="os_text_p">We open sourced the code not for you to sit and stare. Bring it on, get one up on us!
              After all, we are all here for this, aren’t we?<br></p><a href="https://github.com/DeepDragons"
              class="btn_small w-button" target="_blank">We’re on GitHub</a>
            <div class="os_hr"></div>
            <p class="os_text_p">If you’re lazy to change the world for the better, then just give us money, we’ll
              exchange it ourselves:<br></p>

            <a onclick="copy('#donate_address')" href="#" id="donate_address" class="text_link os_link">
              0xFF996042E1f9e11c9658e5bEdce2363F853490F1
            </a>

            <span style="margin-left: 45%;" id="copied"></span>
          </div>
          <a href="https://opensource.org" target="_blanck" class="os_card_image"></a>
        </div>
      </div>
    </div>
    <div id="faq" data-w-id="b424c080-f78b-d4ad-dd32-3b0a967d0fcc" class="faq_section">
      <div data-w-id="6dcce17d-4d6b-4ced-f8a3-3982c90faf8b" class="faq_cloud_left"></div>
      <div class="faq_cloud_left_na"></div>
      <div data-w-id="d8530151-bb53-05de-0c6a-6a938f0d5461" class="faq_cloud_right"></div>
      <div class="faq_cloud_right_na"></div>
      <div class="container-6 w-container">
        <h2 class="heading_02 heading_faq">FAQ</h2>
        <div class="acc_wrap">
          <div class="acc_item">
            <div class="acc_item_trigger">
              <div data-w-id="0ee8043d-255b-ecd1-7e9a-97341717b76d" class="acc_item_plus"></div>
              <div class="acc_item_minus"></div>
              <div class="acc_item_hr"></div>
              <div data-w-id="8371ad65-c486-d0e9-535e-10f6065d20e1" class="acc_item_heading">What’re the rare Dragons?
              </div>
            </div>
            <div data-w-id="d3bf6d2f-0c77-4ccb-249b-4701d9ccdf43" class="acc_item_content">
              <p class="acc_item_p">Out of 30 battle genes, 15 are responsible for the defence, and other 15 – for the
                attack. The strength of each is measured on a scale of 0 to 255.</p>
              <p class="acc_item_p">A combination of battle and visual genes is unique for each Dragon and is created
                randomly. But some genes appear significantly less often than other.</p>
              <div class="acc_space"></div>
            </div>
          </div>
          <div class="acc_item">
            <div class="acc_item_trigger">
              <div class="acc_item_plus"></div>
              <div class="acc_item_minus"></div>
              <div class="acc_item_hr"></div>
              <div class="acc_item_heading">What are the fights?</div>
            </div>
            <div class="acc_item_content">
              <p class="acc_item_p">There are three fight modes: <br>– a random fight, when your karma determines the
                opponent<br>– a fight club, when you decide who to mess up with<br>– a deathmatch, but it is too early
                for you to think about it.</p>
              <p class="acc_item_p">The outcome of the fight is determined by the strength of your Dragon. After every
                battle you get mutagen. You win the battle – you get much of mutagen, you lose the battle – you get a
                little of mutagen.<br></p>
              <p class="acc_item_p">A random fight is something like a drunken brawl in a bar. Your opponent can be
                anybody. If you lose, you get 1 unit of mutagen, if you win, a cup with 10 mutagens is yours.<br></p>
              <p class="acc_item_p">A fight club is a chance to choose the opponent on the market. The result is the
                same as in a random fight: 10 units of mutagen for a victory and 1 unit for a loss.<br></p>
              <p class="acc_item_p">A deathmatch is available for Dragons of Level 3 only because a death on a
                battlefield is an honour for your fire-spitting beast. The winner takes it all, the loser has to
                die.<br></p>
            </div>
          </div>
          <div class="acc_item">
            <div class="acc_item_trigger">
              <div class="acc_item_plus"></div>
              <div class="acc_item_minus"></div>
              <div class="acc_item_hr"></div>
              <div class="acc_item_heading">What’s the mutagen?</div>
            </div>
            <div class="acc_item_content">
              <p class="acc_item_p">A decent mutagen. You feed it to your Dragon, and the Dragon mutates. Mutation is
                the process of your Dragon’s DNA change (yes, the token itself). Your unique beast may die overdosed or
                reborn into something different or even more unique. If your Dragon is weak but attractive, then go to
                the gene laboratory. There, you may exchange anything for money.</p>
              <p class="acc_item_p">Mutation is a random process of your Dragon’s gene change. Just do the mutagen and
                wait to see how that plays out (if you know what we mean). There is just one certain thing: 10 units of
                mutagen cause a 10% change of one gene of a selected group. The visual genes can be changed for free and
                with no risk of the Dragon’s life only once, and further changes may be fatal.</p>
              <p class="acc_item_p">The battle genes are changed more safely: one of thirty characteristics increases or
                decreases proportionally to the amount of the mutagen taken. So you can accidentally turn your mighty
                Dragon into a feeble thing, but, at least, it won’t die.</p>
              <p class="acc_item_p">In the Genetic Lab, you can change any genes as you wish. Similarly, visual changes
                may end in death, and changes of the selected gene are made randomly, too. Yep, it sure sounds bad,
                though fair.</p>
              <div class="acc_space"></div>
            </div>
          </div>
          <div class="acc_item">
            <div class="acc_item_trigger">
              <div class="acc_item_plus"></div>
              <div class="acc_item_minus"></div>
              <div class="acc_item_hr"></div>
              <div class="acc_item_heading">How do Dragons breed?</div>
            </div>
            <div class="acc_item_content">
              <p class="acc_item_p">When your Dragon gets older, it may breed during breaks between fights. Your
                options: - random sex, where nobody can guarantee you the result - sex for money on a market where you
                can show off your Dragon and earn a little cash, or hire a strong and attractive partner with a
                guaranteed result - calm family sex between your Dragons.<br></p>
              <p class="acc_item_p">Yes, you always have to pay for sex. Yes, it’s possible to fuck while being high on
                mutagen. No, you can’t always take the kiddoes.</p>
              <p class="acc_item_p">Here, as in real life, random sex can’t guarantee the result. And the result, in
                this case, is offspring. The Egg is randomly given to one of the partners, and the genes are interested
                randomly, as well.</p>
              <p class="acc_item_p">Sex for money on the market is a local Tinder. Show off your Dragon, set the price
                for its love and wait for a customer. You won’t get the Egg, but you will get the Ether. If you want
                beautiful and strong offspring then pay for a partner with good genes and take your Egg.</p>
              <p class="acc_item_p">Calm family sex. Boring, fast, under the blanket. You’ll simply get one more Egg
                similar to the rest of your Eggs.</p>
              <div class="acc_space"></div>
            </div>
          </div>
          <div class="acc_item">
            <div class="acc_item_trigger">
              <div class="acc_item_plus"></div>
              <div class="acc_item_minus"></div>
              <div class="acc_item_hr"></div>
              <div class="acc_item_heading">Why do I need kids?</div>
            </div>
            <div class="acc_item_content">
              <p class="acc_item_p">To get an army together, of course! In a couple of generations, the natural
                selection and tons of mutagen leave only the strongest beasts alive. You will get your army together
                from these beasts. And a real battle will start.For Dragons Level 4, mass battles are available, and
                their result is determined by the strength of the squad. You can compose sets of unique units and its
                price will be much higher than the price of any separate unit.<br></p>
              <div class="acc_space"></div>
            </div>
          </div>
          <div class="acc_item">
            <div class="acc_item_trigger">
              <div class="acc_item_plus"></div>
              <div class="acc_item_minus"></div>
              <div class="acc_item_hr"></div>
              <div class="acc_item_heading">What shall I do if I’m bored with a Dragon?</div>
            </div>
            <div class="acc_item_content">
              <p class="acc_item_p">Sell it on the market, give it as a present to your friend or feed it with the
                mutagen. If you are really fed up – kill it, don’t torture yourself.<br></p>
              <div class="acc_space"></div>
            </div>
          </div>
          <div class="acc_item">
            <div class="acc_item_trigger">
              <div class="acc_item_plus"></div>
              <div class="acc_item_minus"></div>
              <div class="acc_item_hr"></div>
              <div class="acc_item_heading">Is it possible to make money here?</div>
            </div>
            <div class="acc_item_content">
              <p class="acc_item_p">Yes. If your Dragon has good genes, you may sell it for big money, or you can
                continuously earn a little on sex for money. When you get your army together – we’ll talk about real
                money.<br></p>
              <p class="acc_item_p">For collectors particularly hungry for Ether we developed a referral program. If you
                have friends, why not to make some money on them? There is a magic link here. If you share it with your
                friends and they follow it, go to our website and by Eggs, then we will return 30% of the purchase of
                the first nine Eggs to your wallet.We can return 50% as well, but there is a couple of conditions:<br>–
                You have to be among the first 50 users to sell over 10 Eggs;<br>– You shall let us know why it is you
                who deserves the increased cash back. <br></p>
              <div class="acc_space"></div>
            </div>
          </div>
          <div class="acc_item">
            <div class="acc_item_trigger">
              <div class="acc_item_plus"></div>
              <div class="acc_item_minus"></div>
              <div class="acc_item_hr"></div>
              <div class="acc_item_heading">Why is the game based on blockchain?</div>
            </div>
            <div class="acc_item_content">
              <p class="acc_item_p">Blockchain makes all game transactions transparent. They cannot be tampered —
                and nobody can steal your dragon. There will be no cheaters and freeloaders.<br></p>
              <p class="acc_item_p">Read the details <a
                  href="https://coinjournal.net/guest-post-5-ways-blockchain-will-transform-the-gaming-industry/"
                  class="text_link">here.</a><br></p>
              <div class="acc_space"></div>
            </div>
          </div>
          <div class="acc_item">
            <div class="acc_item_trigger">
              <div class="acc_item_plus"></div>
              <div class="acc_item_minus"></div>
              <div class="acc_item_hr"></div>
              <div class="acc_item_heading">Why do I need a Ethereum wallet?</div>
            </div>
            <div class="acc_item_content">
              <p class="acc_item_p">A dragon is an <strong>ERC-721</strong> standard token in the Ethereum network,
                linked to the wallet address. No wallet — no dragon.<br></p>
              <div class="acc_space"></div>
            </div>
          </div>
          <div class="acc_item">
            <div class="acc_item_trigger">
              <div class="acc_item_plus"></div>
              <div class="acc_item_minus"></div>
              <div class="acc_item_hr"></div>
              <div class="acc_item_heading">Is it possible to destroy a dragon?</div>
            </div>
            <div class="acc_item_content">
              <p class="acc_item_p">Yes. Completely destroy Etherium blockchain, losing the deadly fight or committing
                dragon suicide.<br></p>
              <div class="acc_space"></div>
            </div>
          </div>
          <div class="acc_item">
            <div class="acc_item_trigger">
              <div class="acc_item_plus"></div>
              <div class="acc_item_minus"></div>
              <div class="acc_item_hr"></div>
              <div class="acc_item_heading">And what if I bail on my dragon?</div>
            </div>
            <div class="acc_item_content">
              <p class="acc_item_p">A dragon grows, mutates, fights and even dies only when you want it. If you stop
                coming here, your dragons will just grieve and wait for their master.<br></p>
              <div class="acc_space"></div>
            </div>
          </div>
          <div class="acc_item">
            <div class="acc_item_hr"></div>
          </div>
        </div>
        <div class="link_wrap"><a href="https://t.me/joinchat/DEnpkgr31xVjG4io-wmwLQ" target="_blanck"
            class="text_link faq_link">Ask a question via Telegram</a></div>
      </div>
    </div>
    <div id="action" style="display: none;" class="section_egg web3_detect">
      <div class="container-3 w-container">
        <h2 class="heading_02 heading_egg">Give. Me. The Egg</h2>
        <p class="sub_heading">10,000 Eggs only!<br>Each next Egg sold costs more. And buying in bulk is cheaper!<br>
        </p>
        <div class="counters">
          <div class="counter-sm_wrap">
            <div class="counter_header">Eggs Available</div>
            <div class="counter counter_small">
              <div class="counter_cell small_black_egg"></div>

              <% data.totalDragons.forEach(el => { %>
              <div class="counter_cell small_black">
                <div class="counter_num num_small_black"><%=el%></div>
              </div>
              <% }) %>

              <div class="counter_shadow"></div>
            </div>
          </div>
          <div class="counter-sm_wrap">
            <div class="counter_header counter_header_pink">Current Price</div>
            <div class="counter counter_small">
              <% data.crowdSaleDragonPrice.split('').forEach(el => { %>
              <div class="counter_cell small_white">
                <div class="counter_num num_small_white"><%=el%></div>
              </div>
              <% }) %>
              <div class="counter_cell small_white_egg"></div>
              <div class="counter_shadow"></div>
            </div>
          </div>
          <div class="counter-sm_wrap">
            <div class="counter_header">Next Egg</div>
            <div class="counter counter_small">

              <% data.nextPrice.split('').forEach(el => { %>
              <div class="counter_cell small_black">
                <div class="counter_num num_small_black"><%=el%></div>
              </div>
              <% }) %>

              <div class="counter_cell small_black_eth"></div>
              <div class="counter_shadow"></div>
            </div>
          </div>
        </div>
        <div class="graph_block">
          <div class="axis_name price">Price</div>
          <div class="axis_name">Eggs sold</div><img src="/images/graph.png" width="632"
            srcset="/images/graph-p-500.png 500w, /images/graph-p-800.png 800w, /images/graph-p-1080.png 1080w, /images/graph.png 1264w"
            sizes="(max-width: 479px) 300px, (max-width: 767px) 422px, 632px" alt="" class="image-4">
        </div><a href="https://eth.dragoneth.com" class="btn_primary w-button">Give. Me. The egg.</a>
        <div class="store_block">
          <div class="store_icon_wrap"></div>
          <div class="sub_heading">Coming to App Store soon</div>
        </div>
      </div>
    </div>
    <div id="actionnone" class="section_egg metamask">
      <div class="container-3 w-container">
        <h2 class="heading_02 heading_egg">I didn’t get it.<br>How can I buy an Egg</h2>
        <p class="sub_heading warning">Obviously, you haven’t installed MetaMask yet. It’s a browser extension and your
          crypto wallet at the same time. Install it and come back!<br></p>
        <div class="counters">
          <div class="counter-sm_wrap">
            <div class="counter_header">Eggs Available</div>
            <div class="counter counter_small">
              <div class="counter_cell small_black_egg"></div>

              <% data.totalDragons.forEach(el => { %>
              <div class="counter_cell small_black">
                <div class="counter_num num_small_black"><%=el%></div>
              </div>
              <% }) %>

              <div class="counter_shadow"></div>
            </div>
          </div>
          <div class="counter-sm_wrap">
            <div class="counter_header counter_header_pink">Current Price</div>
            <div class="counter counter_small">

              <% data.crowdSaleDragonPrice.split('').forEach(el => { %>
              <div class="counter_cell small_white">
                <div class="counter_num num_small_white"><%=el%></div>
              </div>
              <% }) %>

              <div class="counter_cell small_white_egg"></div>
              <div class="counter_shadow"></div>
            </div>
          </div>
          <div class="counter-sm_wrap">
            <div class="counter_header">Next Egg</div>
            <div class="counter counter_small">

              <% data.nextPrice.split('').forEach(el => { %>
              <div class="counter_cell small_black">
                <div class="counter_num num_small_black"><%=el%></div>
              </div>
              <% }) %>

              <div class="counter_cell small_black_eth"></div>
              <div class="counter_shadow"></div>
            </div>
          </div>
        </div>
        <p class="sub_heading">Install MetaMask, exchange Ether for Eggs.<br>The detailed instruction is here:<br></p>
        <div class="video_block">
          <div style="padding-top:56.17021276595745%" id="w-node-f6b216900c2c-1c21aa38" class="w-embed-youtubevideo">
            <iframe
              src="https://www.youtube.com/embed/sQl43LJHjJs?rel=0&amp;controls=1&amp;autoplay=0&amp;mute=0&amp;start=0"
              frameborder="0" style="position:absolute;left:0;top:0;width:100%;height:100%;pointer-events:auto"
              allow="autoplay; encrypted-media" allowfullscreen=""></iframe></div>
        </div><a
          href="https://metamask.zendesk.com/hc/en-us/articles/360015489531-Getting-Started-With-MetaMask-Part-1-"
          ttarget="_blanck" class="btn_primary w-button">Learn more</a>
      </div>
    </div>
    <div class="footer">
      <div class="footer_block w-container">
        <div class="logo_footer w-clearfix">
          <div class="footer_logo_img_wrap"><img src="/images/logo_img.png" width="33"
              srcset="/images/logo_img-p-500.png 500w, /images/logo_img.png 567w" sizes="33px" alt=""></div>
          <div class="footer_logo_text">Dragon ETH</div>
        </div>
        <div class="footer_links_block"><a href="https://t.me/joinchat/DEnpkgr31xVjG4io-wmwLQ"
            class="footer_link">Ask a question</a><a href="#" id="btn_contract" class="footer_link">Contracts</a><a
            href="/privacy" class="footer_link">Privacy policy</a><a href="/terms" class="footer_link">Terms of
            service</a></div>
        <div class="div-block-3">
          <div class="social_links"><a href="https://www.facebook.com/ethdragons" class="social facebook w-inline-block"
              target="_blank" title="Facebook"></a><a href="https://twitter.com/dragons_eth"
              class="social twitter w-inline-block" target="_blank" title="Twitter"></a><a
              href="https://www.reddit.com/r/DragonsEth/" class="social reddit_02 w-inline-block" target="_blank"
              title="Reddit"></a><a href="https://medium.com/@dragons_eth" class="social medium w-inline-block"
              target="_blank" title="Medium"></a><a href="https://github.com/DeepDragons"
              class="social gitlab w-inline-block" target="_blank" title="Source code on github"></a><a
              href="https://discord.gg/kHMxad4" class="social dicord w-inline-block" target="_blank"
              title="Discord"></a><a href="tg://join?invite=DEnpkgr31xVjG4io-wmwLQ"
              class="social telegram w-inline-block" title="Join Telegram chat"></a></div><a href="#source"
            class="footer_btn w-button">Support us</a>
        </div>
        <div class="cr_block">
          <div class="text-block-3">© DragonETH 2018</div>
        </div>
      </div>
    </div>
    <div class="w-embed">
      <style>
        .sticky {
          position: -webkit-sticky !important;
          position: sticky !important
        }

        .heading_center {
          background: linear-gradient(#fff 15%, rgba(255, 254, 249, 0.6) 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent
        }

        .heading_bottom {
          background: linear-gradient(rgba(255, 254, 246, 0.7) 0%, rgba(255, 254, 246, 0.3) 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent
        }

        .heading_02 {
          background: linear-gradient(to right, #fff 40%, rgba(163, 163, 163, 0.3) 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent
        }

        .logo_text,
        .footer_logo_text {
          background: linear-gradient(to right, #BBB 0%, #D0D0D0 12%, #DDD 33%, #FFF 52%, #BBB 63%, #797979 78%, #CECECE 100%);
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent
        }

        .w-nav:before {
          display: none
        }

        .w-nav:after {
          display: none
        }

        .menu_button:hover .burger_image {
          background-position: -60px 50%
        }

        .menu_button:hover .burger_text {
          color: #D0AB2F;
          text-shadow: 0 0 9px rgba(255, 205, 39, 0.8)
        }

        .menu_button:active .burger_image {
          background-position: -120px 50%
        }

        .menu_button:active .burger_text {
          color: #B9982B;
          text-shadow: none
        }

        .acc_item_trigger:hover .acc_item_heading {
          color: #B9982B
        }

        .acc_item_trigger:hover .acc_item_plus {
          background-position: -25px 0
        }

        .nav_btn:hover .nb_span_02 {
          background-position: 50% -20px
        }

        .os_link {
          word-wrap: break-word
        }

        .left_dragon_wrap {
          animation: move_01 3.5s steps(82) infinite
        }

        @keyframes move_01 {
          from {
            background-position-x: 0
          }

          to {
            background-position-x: -41000px
          }
        }

        .dragon_right_wrap {
          animation: move_02 3.5s steps(76) infinite
        }

        @keyframes move_02 {
          from {
            background-position-x: 0
          }

          to {
            background-position-x: -24320px
          }
        }

        a {
          cursor: pointer;
          text-decoration: none;
          color: #8c76d8
        }

        * {
          outline: none
        }

        .modal {
          display: none;
          position: fixed;
          z-index: 1;
          left: 0;
          top: 0;
          width: 100%;
          height: 100%;
          overflow: auto;
          background-color: #000;
          background-color: rgba(0, 0, 0, 0.4)
        }

        .modal-content {
          background-color: #1F2139;
          margin: 15% auto;
          padding: 30px;
          border: 1px solid #8c76d8;
          width: fit-content;
        }

        .close {
          color: #f261ee;
          float: right;
          font-size: 28px;
          font-weight: 700;
          padding-left: 97%
        }

        .close:hover,
        .close:focus {
          color: #000;
          text-decoration: none;
          cursor: pointer
        }
      </style>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript"
      integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="/js/webflow.js" type="text/javascript"></script>
    <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->
    <script>
      window.addEventListener('load', async () => {
        window.cookieconsent.initialise({
          "palette": {
            "popup": {
              "background": "#000"
            },
            "button": {
              "background": "#f1d600"
            }
          },
          "position": "bottom-left"
        });
      });
    </script>

    <div id="contracts" class="modal" style="display: none;">

      <div class="modal-content">
        <span id="close_btn" class="close">&times;</span>
        <%Object.keys(data.contract).forEach(key => { %>
        <a class="nav_link w-nav-link" href="https://etherscan.io/address/<%=data.contract[key]%>"
          target="_blank"><%=key%></a>
        <br>
        <% }) %>
      </div>

    </div>

    <div id="ref" class="modal" style="display: none;">

      <div class="modal-content">
        <span id="close_btn0" class="close">&times;</span>
        <input id="ref_link" class="nav_btn" type="text" style="width: 100%;">
        <a href="#" onclick="copy(document.getElementById('ref_link'))" class="btn_small w-button">Copy</a>
      </div>

    </div>

    <script>
      let contracts = document.getElementById('contracts');
      let ref = document.getElementById('ref');
      let btn = document.getElementById("btn_contract");
      let btn0 = document.getElementById("ref_contract");
      let span = document.getElementById("close_btn");
      let span0 = document.getElementById("close_btn0");

      btn.onclick = function () {
        contracts.style.display = "block";
      }
      btn0.onclick = function () {
        let refLink = document.getElementById("ref_link");
        let refAddress = 'your ether address';
        if (window.ethereum) {
          if (web3.eth.coinbase) {
            refAddress = web3.eth.coinbase;
          }
        }
        refLink.value = `${window.location.origin}?ref=${refAddress}`;
        ref.style.display = "block";
      }

      span.onclick = function () {
        contracts.style.display = "none";
      }
      span0.onclick = function () {
        ref.style.display = "none";
      }

      window.onclick = function (event) {
        if (event.target == contracts) {
          contracts.style.display = "none";
        } else if (event.target == ref) {
          ref.style.display = "none";
        }
      }

      function copy(event) {
        if (typeof event == "string") {
          let $temp = $("<input>");
          $("body").append($temp);
          $temp.val($(event).text()).select();
          $temp.css('opacity', '0');

          $('#copied').text('Copied');
        } else {
          event.select();
        }

        document.execCommand("copy");
      }
    </script>

</body>

</html>
