<!DOCTYPE html>
<html data-wf-page="5be258ca3f7813861c21aa38" data-wf-site="5be258ca3f781398d721aa37">
<head>
  <meta charset="utf-8">
  <title>DragonETH</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(51568142, "init", {
        id:51568142,
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/51568142" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
  <style>.w-embed-youtubevideo {   width: 100%;   position: relative;   padding-bottom: 0px;   padding-left: 0px;   padding-right: 0px;   background-image: url(https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg);   background-size: cover;   background-position: 50% 50%; } .w-embed-youtubevideo:empty {   min-height: 75px;   padding-bottom: 56.25%; }</style>
  <link href="/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="/css/webflow.css" rel="stylesheet" type="text/css">
  <link href="/css/dragoneth.webflow.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">WebFont.load({  google: {    families: ["Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic","Fira Sans:regular,500,600,700,800:cyrillic,latin","Roboto:100,300,regular,500,700:cyrillic,latin"]  }});</script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png" rel="apple-touch-icon">
</head>
<body class="body">
  <div class="voile"></div>
  <div class="bgr_00"></div>
  <div data-collapse="medium" data-animation="over-left" data-duration="400" data-w-id="563dd592-c922-2a09-1ab2-d33f54dfb545" class="navbar_fixed w-nav">
    <div class="menu_button w-nav-button">
      <div class="burger_image"></div>
      <div class="burger_text_wrap">
        <div class="burger_text">Menu</div>
      </div>
    </div>
    <a href="/" class="brand w-nav-brand">
      <div class="logo_wrap w-clearfix">
        <div class="logo_img_wrap"></div>
        <div class="logo_text">Dragon ETH</div>
      </div>
    </a>
    <nav role="navigation" class="nav-menu w-nav-menu">
      <div class="flex_wrap">
        <div class="links_block">
          <div class="close_btn_wrap">
            <div class="menu_button close w-nav-button">
              <div class="burger_image cross"></div>
              <div class="burger_text_wrap">
                <div class="burger_text">Close</div>
              </div>
            </div>
          </div>
          <a href="/" class="nav_link w-nav-link">Where am I? </a>
          <a href="/#about" class="nav_link w-nav-link">What&#x27;s going on?</a>
          <a href="/#how-it-work" class="nav_link w-nav-link">How does it work?</a>
          <a href="/#roadmap" class="nav_link w-nav-link">Our Roadmap</a>
          <a href="/#friends" class="nav_link w-nav-link">Referral Program</a>
          <a href="/#faq" class="nav_link w-nav-link">Frequently Asked Questions</a>
        </div>
        <a href="https://eth.dragoneth.com/buy" class="nav_btn w-button">
          <span class="nb_span_01">buy an</span>
          <span class="nb_span_02">egg</span> <%=data.crowdSaleDragonPrice%><span class="text-span">eth</span>
        </a>
      </div>
    </nav>
  </div>
  <style>
    .has-text-centered {
    position: relative;
    left: 40%;
    font-size: 2rem;
    color: #8c76d8;
    padding-top: 4%
    }      
    p, h3, li {
    padding-bottom: 1rem;
    color: #686896;
    font-size: 150%;
    }
    h1, h2, h3, h4, h5, h6 {
        font-size: 100%;
        font-weight: 400;
        font-size: 150%;
    }
    h5 {
        font-size: 1.3rem;
        color: #f261ee;
        font-size: 150%;
    }
    .caption {
        text-align: center;
        font-size: 250%;
        padding: 1%;
    }
    .s-buyheader__right {
        padding-left: 40%;
    }
    .section_bc {
      padding-top: 5%;
    }
    .heading_wrap {
      text-align: center;
    }

</style>


  <div id="bc" data-w-id="9ca618a6-51a8-0586-61c5-87ea109ee3fb" class="section_bc">
    <div data-w-id="d271ac5d-41c1-1518-724b-f615d56d4911" class="bc_cloud_right"></div>
    <div class="bc_cloud_right_na"></div>
    <div data-w-id="fd6d9fd5-fa5d-363a-4cfb-62ee9d29cd66" class="bc_cloud_left"></div>
    <div class="bc_cloud_left_na"></div>
    <div class="w-container">
      <div class="w-container">
        <div class="heading_wrap">
            <h1 class="heading heading_center">Privacy Policy</h1>
        </div>
        
        
        <p>
            We at RIKA LLC (“RIKA LLC,” “we,” or “us”) believe that your privacy is a fundamental right. We have written this privacy policy (this “Policy”) to reflect our values, and to clearly describe what information we collect from you when you use our custom-developed smart contracts to own eggs, which can then be seen and visualized on a website (dragonseth.com) that users can interact with (the “Site”), as well as how we protect and use that information. The smart contracts and the Site are collectively referred to in this Policy as the “Dragons Eth Application”. By using the Dragons Eth, you agree that we can disclose, collect, use, and process your information as described in this Policy. This Policy only applies to the Dragons Eth Application, and not to any other websites, products or services you may be able to access or link to via the Dragons Eth Application. 
        </p>
        <p>
            While our principles will not change, the Dragons Eth Application will change over time, and this Policy will change to reflect that evolution. If we make changes, we will notify you by revising the date at the top of this Policy. In some cases, if we make significant changes, we may give you additional notice by adding a statement to our homepage, or by sending you an email notification. We encourage you to review this Policy periodically to stay informed about our practices.
        </p>
        <h3>Information Collection</h3>
        <h5>Information We Don’t Collect</h5>
        <p>
            We do not collect any other personally-identifiable information about you, unless you give it to us directly: by filling out a form, creating an account, giving us written feedback, communicating with us via third party social media sites, or otherwise communicating with us via the Dragons Eth Application or any other means. We do not collect any payment information from you, other than your Ethereum wallet address.
        </p>
        <h5>Information We Do Collect</h5>
        <p>
            We will ask you to provide us with your email address, and your Ethereum wallet address.
        </p>
        <h3>Information Usage</h3>
        <h5>Information Processing</h5>
        <p>
            Depending on where you are located, your information may need to be transferred to different servers around the world as part of using the Dragons Eth Application. You acknowledge that, as part of making the Dragons Eth Application available to you, we may transfer your information to or maintain your information on computers located outside of your state, province, country, or other governmental jurisdiction, where the privacy laws may not be as protective as those in your jurisdiction. If you are located outside of the United States and you choose to provide your information to us, you agree that we have the right to transfer your information to the United States and process it there. By using the Dragons Eth Application, or by otherwise providing any information to us, you consent to the processing and transfer of that information in and to the United States, and other countries.
        </p>
        <h5>What We Don’t Do With Information We Collect</h5>
        <p>
            We do not share any information that directly identifies you with any third party, except in the following limited cases: As required to comply with applicable law or regulation, or to comply with law enforcement; To respond to claims and/or legal process; To prevent behavior that is (or that we think may be) illegal or unethical; To help ensure the safety of the public or an individual; To protect our rights or our property, or to enforce ourTerms of Use; With your consent, or at your request or direction; or As otherwise set forth in this Policy.
        </p>
        <h5>What We Do With Information We Collect</h5>
        <p>
            We use the information we collect in the following ways:
        </p>
        <ul>
            <li>To improve the Dragons Eth Application;</li>
            <li>To analyze trends for how the Dragons Eth Application is being used;</li>
            <li>To help personalize your experience of the Dragons Eth Application;</li>
        </ul>
        <p>
            If you gave us your contact information, we will use it to send you data as part of making the Dragons Eth Application available to you. We may also use that information to contact you to send you technical notices, updates, confirmations, security alerts, to provide support to you, to tell you about other products and services that we think might interest you, or to respond to your comments or questions.
        </p>
        <p>
            We may share the information we collect with third parties who need to access it in order to do work on our behalf, including doing things like helping us make the Dragon Eth Application available, or providing analytics services for us. We work hard to ensure that these third parties only access and use your information as necessary to perform their functions. We will create aggregations and anonymizations that contain your information in a way that does not directly identify you. We may use and/or share those aggregations and anonymizations for a variety of purposes related to the Dragons Eth Application, or our company and its business.
        </p>
        <h5>Our Policy Towards Children</h5>
        <p>
            The Dragons Eth Application is not intended for use by children under the age of 13. If you are the parent or guardian of a child under the age of 13 and you become aware that your child has provided personally identifiable information to us without your and their consent, contact us at hello@dragonseth.com. If we become aware that a child under the age of 13 has provided us with their personally identifiable information, we will remove that information from our files.
        </p>
        <h5>Information Security</h5>
        <p>
            We take safeguarding your information seriously. We will take reasonable administrative, physical, and electronic measures to help protect your information from loss, theft, misuse, unauthorized access, disclosure, alteration or destruction. All that said, no method of transmitting or storing information over the Internet is completely secure. With that in mind, we cannot guarantee the absolute security of your information.
        </p>
        <h5>Contact Us</h5>
        <p>By contacting us at hello@dragonseth.com, you may:</p>
        <ul>
            <li>Change/correct any personal data we have about you;</li>
            <li>See what information we have about you, if any;</li>
            <li>Opt out of receiving promotional communications from us;</li>
            <li>Ask questions or provide feedback on this Policy generally, or the use of your information;</li>
        </ul>
        <p>
            Or Have us delete any personal data we have about you (we will do our best to do so, but we may have to keep certain data as required by law, to comply with this Policy, or pursuant to our normal caching procedures).
        </p>
    </div>
    </div>
  </div>
  
  
  
  <div class="footer">
      <div class="footer_block w-container">
        <div class="logo_footer w-clearfix">
          <div class="footer_logo_img_wrap"><img src="/images/logo_img.png" width="33" srcset="/images/logo_img-p-500.png 500w, /images/logo_img.png 567w" sizes="33px" alt=""></div>
          <div class="footer_logo_text">Dragon ETH</div>
        </div>
        <div class="footer_links_block"><a href="https://t.me/joinchat/DEnpkgr31xVjG4io-wmwLQ" class="footer_link">Ask a question</a><a href="#" id="btn_contract" class="footer_link">Contracts</a><a href="privacy" class="footer_link">Privacy policy</a><a href="/terms" class="footer_link">Terms of service</a></div>
        <div class="div-block-3">
          <div class="social_links"><a href="https://www.facebook.com/ethdragons" class="social facebook w-inline-block" target="_blank" title="Facebook"></a><a href="https://twitter.com/dragons_eth" class="social twitter w-inline-block" target="_blank" title="Twitter"></a><a href="https://www.reddit.com/r/DragonsEth/" class="social reddit_02 w-inline-block" target="_blank" title="Reddit"></a><a href="https://medium.com/@dragons_eth" class="social medium w-inline-block" target="_blank" title="Medium"></a><a href="https://gitlab.com/dragoneth/" class="social gitlab w-inline-block" target="_blank" title="Source code on Gitlab"></a><a href="https://discord.gg/kHMxad4" class="social dicord w-inline-block" target="_blank" title="Discord"></a><a href="tg://join?invite=DEnpkgr31xVjG4io-wmwLQ" class="social telegram w-inline-block" title="Join Telegram chat"></a></div><a href="/#source" class="footer_btn w-button">Support us</a></div>
        <div class="cr_block">
          <div class="text-block-3">© DragonETH 2018</div>
        </div>
      </div>
    </div>
  <div class="w-embed">
    <style>
	.sticky {
		position: -webkit-sticky !important;
  	position: sticky !important;
	}
  .heading_center{
  	background: linear-gradient(#fff 15%, rgba(255, 254, 249, 0.6) 100%);
  	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .heading_bottom{
  	background: linear-gradient(rgba(255, 254, 246, 0.7) 0%, rgba(255, 254, 246, 0.3) 100%);
  	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .heading_02{
  	background: linear-gradient(to right, #fff 40%, rgba(163, 163, 163, 0.3) 100%);
  	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .logo_text, .footer_logo_text{
  	background: linear-gradient(to right, #BBBBBB 0%, #D0D0D0 12%, #DDDDDD 33%, #FFFFFF 52%, #BBBBBB 63%, #797979 78%, #CECECE 100%);;
  	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .w-nav:before {
  	display: none;
  }
  .w-nav:after {
  	display: none;
  }
	.menu_button:hover .burger_image{
  	background-position: -60px 50%;
	}
  .menu_button:hover .burger_text{
  	color: #D0AB2F;
    text-shadow: 0px 0px 9px rgba(255, 205, 39, 0.8);
	}
  .menu_button:active .burger_image{
  	background-position: -120px 50%;
	}
  .menu_button:active .burger_text{
  	color: #B9982B;
    text-shadow: none;
	}
  .acc_item_trigger:hover .acc_item_heading{
  	color: #B9982B;
  }
  .acc_item_trigger:hover .acc_item_plus{
  	background-position: -25px 0%;
  }
  .nav_btn:hover .nb_span_02{
  	background-position: 50% -20px;
  }
  .os_link{
  	word-wrap: break-word;
  }

  a {
    cursor: pointer;
    text-decoration: none;
    color: #8c76d8;
}

* { outline:none; }

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content {
    background-color: #1F2139;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 30px;
    border: 1px solid #8c76d8;
    width: 20%; /* Could be more or less, depending on screen size */
}
  
/* The Close Button */
.close {
    color: #f261ee;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-left: 97%;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
    </style>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="/js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

<div id="contracts" class="modal" style="display: none;">

  <div class="modal-content">
    <span id="close_btn" class="close">&times;</span>
    <%Object.keys(data.contract).forEach(key => { %>
      <a class="nav_link w-nav-link"
         href="https://etherscan.io/address/<%=data.contract[key]%>"
         target="_blank"><%=key%></a>
      <br>
    <% }) %>
  </div>

</div>

<script>
    let contracts = document.getElementById('contracts');
    let btn = document.getElementById("btn_contract");
    let span = document.getElementById("close_btn");

    btn.onclick = function() {
      contracts.style.display = "block";
    }

    span.onclick = function() {
      contracts.style.display = "none";
    }

    window.onclick = function(event) {
      if (event.target == contracts) {
        contracts.style.display = "none";
      } else if (event.target == ref) {
        ref.style.display = "none";
      }
    }
</script>

</body>
</html>
