<!DOCTYPE html>
<html data-wf-page="5be258ca3f7813861c21aa38" data-wf-site="5be258ca3f781398d721aa37">
<head>
  <meta charset="utf-8">
  <title>DragonETH</title>
  <meta content="width=device-width, initial-scale=1" name="viewport">
  <meta content="Webflow" name="generator">
<!-- Yandex.Metrika counter -->
<script type="text/javascript" >
   (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
   m[i].l=1*new Date();k=e.createElement(t),a=e.getElementsByTagName(t)[0],k.async=1,k.src=r,a.parentNode.insertBefore(k,a)})
   (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");

   ym(51568142, "init", {
        id:51568142,
        clickmap:true,
        trackLinks:true,
        accurateTrackBounce:true,
        webvisor:true
   });
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/51568142" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
  <style>.w-embed-youtubevideo {   width: 100%;   position: relative;   padding-bottom: 0px;   padding-left: 0px;   padding-right: 0px;   background-image: url(https://d3e54v103j8qbb.cloudfront.net/static/youtube-placeholder.2b05e7d68d.svg);   background-size: cover;   background-position: 50% 50%; } .w-embed-youtubevideo:empty {   min-height: 75px;   padding-bottom: 56.25%; }</style>
  <link href="/css/normalize.css" rel="stylesheet" type="text/css">
  <link href="/css/webflow.css" rel="stylesheet" type="text/css">
  <link href="/css/dragoneth.webflow.css" rel="stylesheet" type="text/css">
  <script src="https://ajax.googleapis.com/ajax/libs/webfont/1.4.7/webfont.js" type="text/javascript"></script>
  <script type="text/javascript">WebFont.load({  google: {    families: ["Open Sans:300,300italic,400,400italic,600,600italic,700,700italic,800,800italic","Fira Sans:regular,500,600,700,800:cyrillic,latin","Roboto:100,300,regular,500,700:cyrillic,latin"]  }});</script>
  <!-- [if lt IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/html5shiv/3.7.3/html5shiv.min.js" type="text/javascript"></script><![endif] -->
  <script type="text/javascript">!function(o,c){var n=c.documentElement,t=" w-mod-";n.className+=t+"js",("ontouchstart"in o||o.DocumentTouch&&c instanceof DocumentTouch)&&(n.className+=t+"touch")}(window,document);</script>
  <link href="/images/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <link href="https://daks2k3a4ib2z.cloudfront.net/img/webclip.png" rel="apple-touch-icon">
</head>
<body class="body">
  <div class="voile"></div>
  <div class="bgr_00"></div>
  <div data-collapse="medium" data-animation="over-left" data-duration="400" data-w-id="563dd592-c922-2a09-1ab2-d33f54dfb545" class="navbar_fixed w-nav">
    <div class="menu_button w-nav-button">
      <div class="burger_image"></div>
      <div class="burger_text_wrap">
        <div class="burger_text">Menu</div>
      </div>
    </div>
    <a href="/" class="brand w-nav-brand">
      <div class="logo_wrap w-clearfix">
        <div class="logo_img_wrap"></div>
        <div class="logo_text">Dragon ETH</div>
      </div>
    </a>
    <nav role="navigation" class="nav-menu w-nav-menu">
      <div class="flex_wrap">
        <div class="links_block">
          <div class="close_btn_wrap">
            <div class="menu_button close w-nav-button">
              <div class="burger_image cross"></div>
              <div class="burger_text_wrap">
                <div class="burger_text">Close</div>
              </div>
            </div>
          </div>
          <a href="/" class="nav_link w-nav-link">Where am I? </a>
          <a href="/#about" class="nav_link w-nav-link">What&#x27;s going on?</a>
          <a href="/#how-it-work" class="nav_link w-nav-link">How does it work?</a>
          <a href="/#roadmap" class="nav_link w-nav-link">Our Roadmap</a>
          <a href="/#friends" class="nav_link w-nav-link">Referral Program</a>
          <a href="/#faq" class="nav_link w-nav-link">Frequently Asked Questions</a>
        </div>
        <a href="https://eth.dragoneth.com/buy" class="nav_btn w-button">
          <span class="nb_span_01">buy an</span>
          <span class="nb_span_02">egg</span> <%=data.crowdSaleDragonPrice%><span class="text-span">eth</span>
        </a>
      </div>
    </nav>
  </div>
  <style>
    .has-text-centered {
    position: relative;
    left: 40%;
    font-size: 2rem;
    color: #8c76d8;
    padding-top: 4%
    }      
    p, h3, li {
    padding-bottom: 1rem;
    color: #686896;
    font-size: 150%;
    }
    h1, h2, h3, h4, h5, h6 {
        font-size: 100%;
        font-weight: 400;
        font-size: 150%;
    }
    h5 {
        font-size: 1.3rem;
        color: #f261ee;
        font-size: 150%;
    }
    .caption {
        text-align: center;
        font-size: 250%;
        padding: 1%;
    }
    .s-buyheader__right {
        padding-left: 40%;
    }
    .section_bc {
      padding-top: 5%;
    }
    .heading_wrap {
      text-align: center;
    }

</style>


  <div id="bc" data-w-id="9ca618a6-51a8-0586-61c5-87ea109ee3fb" class="section_bc">
    <div data-w-id="d271ac5d-41c1-1518-724b-f615d56d4911" class="bc_cloud_right"></div>
    <div class="bc_cloud_right_na"></div>
    <div data-w-id="fd6d9fd5-fa5d-363a-4cfb-62ee9d29cd66" class="bc_cloud_left"></div>
    <div class="bc_cloud_left_na"></div>
    <div class="w-container">
      <div class="w-container">
        <div class="heading_wrap">
            <h1 class="heading heading_center">Terms Of Service</h1>
        </div>
            
        <p>Dragons Eth is a distributed application that runs on the Ethereum blockchain. It uses custom developed Ethereum smart contracts (each, a “Smart Contract”) to enable users to battle, own, breed, sire, and buy digital and fictional dragons. These dragons can be seen and visualized on a website that the user can interact with (the “Site”). The Smart Contracts and the Site are collectively referred to in these Terms as the “Dragons Eth Application”. Upon launch of the full game, the date of which is to be decided, of the Dragons Eth Application, users will be able to view their dragons and use the Smart Contracts to buy eggs from the Dragons Eth Application and/or buy, breed, and battle dragons with users on the Dragons Eth Application.</p>
        <p>RIKA LLC (“RIKA LLC,” “we,” or “us”) is making the Dragons Eth Application available to you. Before using the Dragons Eth Application, the Smart Contracts, or the Site, you will need to agree to these Terms of Use (these “Terms"). PLEASE READ THESE TERMS WITH CARE BEFORE YOU USE THE Dragons Eth APPLICATION, THE SMART CONTRACTS, OR THE SITE. THESE TERMS GOVERN YOUR USE OF THE Dragons Eth APPLICATION, THE SMART CONTRACTS, AND THE SITE, UNLESS WE HAVE EXECUTED A DISTINCT AND UNIQUE WRITTEN AGREEMENT WITH YOU FOR THAT PURPOSE. WE ARE ONLY WILLING TO MAKE THE Dragons Eth APPLICATION, THE SMART CONTRACTS, AND THE SITE AVAILABLE TO YOU IF YOU ACCEPT ALL OF THESE TERMS. BY USING THE Dragons Eth APPLICATION, THE SMART CONTRACTS, THE SITE, OR ANY PART OF THEM, YOU ARE CONFIRMING THAT YOU UNDERSTAND AND AGREE TO ALL OF THESE TERMS. IF YOU ARE ACCEPTING THESE TERMS ON BEHALF OF A COMPANY OR OTHER LEGAL ENTITY, YOU REPRESENT THAT YOU HAVE THE LEGAL AUTHORITY TO ACCEPT THESE TERMS ON THAT ENTITY’S BEHALF, IN WHICH CASE “YOU” WILL MEAN THAT ENTITY. IF YOU DO NOT HAVE SUCH AUTHORITY, OR IF YOU DO NOT ACCEPT ALL OF THE TERMS OUTLINED, THEN WE ARE UNWILLING TO MAKE THE Dragons Eth APPLICATION, THE SMART CONTRACTS, OR THE SITE AVAILABLE TO YOU.</p>
        <h5>I1. The Dragons Eth</h5>
        <p>
            A. We utilize Ethereum Smart Contracts to have users interact with dragons in the Dragons Eth Application. dragons will be available in the form of eggs on the launch of the Dragons Eth Application egg presale. Eggs sold from the Dragons Eth Application to users are sold on a dedicated egg sale page (the “Egg Sale Page”) and will increase in price with each egg sold from the Egg Sale Page. So each egg sold from the Egg Sale Page will be more expensive than the preceding egg sold from the Egg Sale Page. Eggs will eventually hatch digitally and turn into dragons.
        </p>
        <p>
            B. Users will be able to interact with dragons on the Dragons Eth Application in a variety of ways. These ways are still being developed and are yet to be fully decided upon. By buying eggs or dragons, you understand that you consent to the risk that you may not agree with the decisions made by the developers of the Dragons Eth Application regarding its game mechanics, rules, sale of eggs, and anything else related to the Dragons Eth Application.
        </p>

        <h5>2. The Dragons Eth Application</h5>
        <p>
            A. Transactions that take place on the Dragons Eth Application are confirmed and managed via the Ethereum blockchain. You understand that your Ethereum public address will be made publicly visible whenever you engage in a transaction on the Dragons Eth Application.
        </p>
        <p>
            B. We neither own nor control Google Chrome, MetaMask, the Ethereum network, or any other third party site, product, or service that you might visit, access, or use for the purpose of enabling you to use the various features provided by the Dragons Eth Application. We will not be liable for the acts or omissions of any such third parties, nor will we be liable for any damage that you may suffer as a result of interacting with any such third parties.
        </p>
        <p>
            C. You must provide accurate and complete registration information when you create an account for the Dragons Eth Application. You are responsible for the security of your MetaMask wallet (and other Ethereum wallets) and for any and all use of your account, whether you knew about the use or not. If you become aware of any unauthorized use of your password or of your account, you agree to notify us immediately at hello@dragonseth.com.
        </p>
        <p>
            D. It is possible for you to interact with the Dragons Eth Application Smart Contracts via the Ethereum network, without using the Dragons Eth Application as a portal. The process for doing this can be complex. If you do not know how to do this, we recommend using the Site.
        </p>


        <h5>3. Fees and Payment</h5>
        <p>
            A. If you elect to purchase eggs on the Egg Sale Page in the Dragons Eth Application, any financial transactions that you engage in will be conducted through the Ethereum network. We will have no insight into or control over these transactions or payments, nor do we have the ability to reverse any transactions. Additionally, we will have no liability to you or to any third party for any claims or damages that may arise as a result of any transactions that you engage in through the Dragons Eth Application, or independently using the Smart Contracts.
        </p>
        <p>
            B. Ethereum requires the payment of a transaction fee for every transaction that occurs on the Ethereum network. This fee funds the network of computers that run the decentralized Ethereum network. Because of this, you will still need to pay this fee for each transaction that occurs via the Ethereum network- even if you interact directly with the Ethereum network without using the Dragons Eth Application as a portal.
        </p>
        <p>
            C. As between us, you will be solely responsible to pay any and all sales, use, value-added and other taxes, duties, and assessments (except taxes on our net income) now or hereafter claimed or imposed by any governmental authority (collectively, “Taxes”) associated with your use of the Dragons Eth Application (including, without limitation, any Taxes that may become payable as the result of your ownership, transfer, or breeding of any of your Dragons Eth or eggs). Except for income taxes levied on RIKA LLC, you: (i) will pay or reimburse us for all national, federal, state, local or other taxes and assessments of any jurisdiction, including value added taxes and taxes as required by international tax treaties, customs or other import or export taxes, and amounts levied in lieu thereof based on charges set, services performed or payments made hereunder, as are now or hereafter may be imposed under the authority of any national, state, local or any other taxing jurisdiction; and (ii) shall not be entitled to deduct the amount of any such taxes, duties or assessments from payments made to us pursuant to these Terms.
        </p>

        <h5>4. Ownership; Restrictions</h5>
        <p>
           A. You acknowledge and agree that we (or, as applicable, our licensors) own all legal right, title and interest in and to all elements of the Dragons Eth Application, and all intellectual property rights therein. The visual interfaces, graphics (including, without limitation, all art and drawings associated with the dragons), systems, design, methods, computer code, software, services, “look and feel”, organization, information, compilation of the content, code, data, and all other elements of the Dragons Eth Application (collectively, the “Nimbus Assets”) are owned by RIKA LLC, and are protected by copyright, trade dress, patent, and trademark laws, international conventions, other relevant intellectual property and proprietary rights, and applicable laws. All Nimbus Assets are the copyrighted property of RIKA LLC or its licensors, and all trademarks, service marks, and trade names contained in the Nimbus Assets are proprietary to RIKA LLC or its licensors. Except as expressly set forth herein, your use of the Dragons Eth Application does not grant you ownership of or any other rights with respect to any content, code, data, or other materials that you may access on or through the Dragons Eth Application. We reserve all rights in and to the Nimbus Assets not expressly granted to you in the Terms. For the sake of clarity, you understand and agree: (i) that your “purchase” of an egg, whether via the Dragons Eth Application or otherwise, does not give you any rights or licenses in or to the Nimbus Assets (including, without limitation, our copyright in and to the art and drawings associated with that egg and resulting monster) other than those expressly contained in these Terms; and (ii) that you do not have the right to reproduce, distribute, or otherwise commercialize the Nimbus Assets (including, without limitation, our copyright in and to the art and drawings associated with that egg and/or monster) in any way without our prior written consent in each case, which we may withhold in our sole and absolute discretion.
        </p>
        <p>
            B. You agree that you are responsible for your own conduct while accessing or using the Dragons Eth Application, and for any consequences thereof. You agree to use the Dragons Eth Application only for purposes that are legal, proper and in accordance with these Terms and any applicable laws or regulations. By way of example, and not as a limitation, you may not, and may not allow any third party to: (i) send, upload, distribute or disseminate any unlawful, defamatory, harassing, abusive, fraudulent, obscene, or otherwise objectionable content; (ii) distribute viruses, worms, defects, Trojan horses, corrupted files, hoaxes, or any other items of a destructive or deceptive nature; (iii) impersonate another person (via the use of an email address or otherwise); (iv) upload, post, transmit or otherwise make available through the Dragons Eth Application any content that infringes the intellectual proprietary rights of any party; (v) use the Dragons Eth Application to violate the legal rights (such as rights of privacy and publicity) of others; (vi) engage in, promote, or encourage illegal activity; (vii) interfere with other users’ enjoyment of the Dragons Eth Application; (viii) exploit the Dragons Eth Application for any unauthorized commercial purpose; (ix) modify, adapt, translate, or reverse engineer any portion of the Dragons Eth Application; (x) remove any copyright, trademark or other proprietary rights notices contained in or on the Dragons Eth Application or any part of it; (xi) reformat or frame any portion of the Dragons Eth Application; (xii) display any content on the Dragons Eth Application that contains any hate-related or violent content or contains any other material, products or services that violate or encourage conduct that would violate any criminal laws, any other applicable laws, or any third party rights; (xiii) use any robot, spider, site search/retrieval application, or other device to retrieve or index any portion of the Dragons Eth Application or the content posted on the Dragons Eth Application, or to collect information about its users for any unauthorized purpose; (xiv) create user accounts by automated means or under false or fraudulent pretenses; or (xv) access or use the Dragons Eth Application for the purpose of creating a product or service that is competitive with any of our products or services.
         </p>
         <p>C. You may choose to submit bug reports, comments, ideas or other feedback about the Dragons Eth Application, including without limitation about how to improve the Dragons Eth Application (collectively, “Feedback”). By submitting any Feedback, you agree that we are free to use such Feedback at our discretion and without additional compensation to you, and to disclose such Feedback to third parties (whether on a non-confidential basis, or otherwise). You hereby grant us a perpetual, irrevocable, non exclusive, worldwide license under all rights necessary for us to incorporate and use your Feedback for any purpose.</p>
         
        <h5>5. Termination</h5>
        <p>
            You may terminate these Terms at any time by canceling your account on the Dragons Eth Application and discontinuing your access to and use of the Dragons Eth Application. You will not receive any refunds if you cancel your account, or otherwise terminate these Terms. You agree that we, in our sole discretion and for any or no reason, may terminate these Terms and suspend and/or terminate your account(s) for the Dragons Eth Application. You agree that any suspension or termination of your access to the Dragons Eth Application may be without prior notice, and that we will not be liable to you or to any third party for any such suspension or termination. If we terminate these Terms or suspend or terminate your access to or use of the Dragons Eth Application due to your breach of these Terms or any suspected fraudulent, abusive, or illegal activity, then termination of these Terms will be in addition to any other remedies we may have at law or in equity. Upon any termination or expiration of these Terms, whether by you or us, you may no longer have access to information that you have posted on the Dragons Eth Application or that is related to your account, and you acknowledge that we will have no obligation to maintain any such information in our databases or to forward any such information to you or to any third party. Sections 2.B and 3 through 14 will survive the termination or expiration of these Terms for any reason.
        </p>
        <h5>6. Disclaimer of Warranties</h5>
        <p>
            YOU EXPRESSLY UNDERSTAND AND AGREE THAT YOUR ACCESS TO AND USE OF THE Dragons Eth APPLICATION IS AT YOUR SOLE RISK, AND THAT THE Dragons Eth APPLICATION IS PROVIDED "AS IS" AND "AS AVAILABLE" WITHOUT WARRANTIES OF ANY KIND, WHETHER EXPRESS OR IMPLIED. TO THE FULLEST EXTENT PERMISSIBLE PURSUANT TO APPLICABLE LAW, WE, OUR SUBSIDIARIES, AFFILIATES, AND LICENSORS MAKE NO EXPRESS WARRANTIES AND HEREBY DISCLAIM ALL IMPLIED WARRANTIES REGARDING THE Dragons Eth APPLICATION AND ANY PART OF IT (INCLUDING, WITHOUT LIMITATION, THE SITE, ANY SMART CONTRACT, OR ANY EXTERNAL WEBSITES), INCLUDING THE IMPLIED WARRANTIES OF MERCHANTABILITY, FITNESS FOR A PARTICULAR PURPOSE, NON-INFRINGEMENT, CORRECTNESS, ACCURACY, OR RELIABILITY. WITHOUT LIMITING THE GENERALITY OF THE FOREGOING, WE, OUR SUBSIDIARIES, AFFILIATES, AND LICENSORS DO NOT REPRESENT OR WARRANT TO YOU THAT: (I) YOUR ACCESS TO OR USE OF THE Dragons Eth APPLICATION WILL MEET YOUR REQUIREMENTS, (II) YOUR ACCESS TO OR USE OF THE Dragons Eth APPLICATION WILL BE UNINTERRUPTED, TIMELY, SECURE OR FREE FROM ERROR, (III) USAGE DATA PROVIDED THROUGH THE Dragons Eth APPLICATION WILL BE ACCURATE, OR (III) THE Dragons Eth APPLICATION OR ANY CONTENT, SERVICES, OR FEATURES MADE AVAILABLE ON OR THROUGH THE Dragons Eth APPLICATION ARE FREE OF VIRUSES OR OTHER HARMFUL COMPONENTS.
        </p>
        <h5>7. Limitation of Liability</h5>
        <p>
            B. YOU ACKNOWLEDGE AND AGREE THAT WE HAVE MADE THE Dragons Eth APPLICATION AVAILABLE TO YOU AND ENTERED INTO THESE TERMS IN RELIANCE UPON THE WARRANTY DISCLAIMERS AND LIMITATIONS OF LIABILITY SET FORTH HEREIN, WHICH REFLECT A REASONABLE AND FAIR ALLOCATION OF RISK BETWEEN THE PARTIES AND FORM AN ESSENTIAL BASIS OF THE BARGAIN BETWEEN US. WE WOULD NOT BE ABLE TO PROVIDE THE Dragons Eth APPLICATION TO YOU WITHOUT THESE LIMITATIONS.
        </p>

        <h5>8. Indemnification</h5>
        <p>You agree to hold harmless and indemnify RIKA LLC and its subsidiaries, affiliates, officers, agents, employees, advertisers, licensors, suppliers or partners from and against any claim, liability, loss, damage (actual and consequential) of any kind or nature, suit, judgment, litigation cost, and attorneys’ fees arising out of or in any way related to (i) your breach of these Terms, or (ii) your violation of applicable laws, rules or regulations in connection with your access to or use of the Dragons Eth Application.</p>
        
        <h5>9. External Websites</h5>
        <p>The Dragons Eth Application may include hyperlinks to other websites or resources (collectively, “External Websites”), which are provided solely as a convenience to our users. We have no control over any External Websites. You acknowledge and agree that we are not responsible for the availability of any External Websites, and that we do not endorse any advertising, products or other materials on or made available from any External Websites. Furthermore, you acknowledge and agree that we are not liable for any loss or damage which may be incurred as a result of the availability or unavailability of the External Websites, or as a result of any reliance placed by you upon the completeness, accuracy or existence of any advertising, products or other materials on, or made available from, any External Websites.</p>

        <h5>10. Children</h5>
        <p>You affirm that you are over the age of 13, as the Dragons Eth Application is not intended for children under 13. IF YOU ARE 13 OR OLDER BUT UNDER THE AGE OF 18, OR THE LEGAL AGE OF MAJORITY WHERE YOU RESIDE IF THAT JURISDICTION HAS AN OLDER AGE OF MAJORITY, THEN YOU AGREE TO REVIEW THESE TERMS WITH YOUR PARENT OR GUARDIAN TO MAKE SURE THAT BOTH YOU AND YOUR PARENT OR GUARDIAN UNDERSTAND AND AGREE TO THESE TERMS. YOU AGREE TO HAVE YOUR PARENT OR GUARDIAN REVIEW AND ACCEPT THESE TERMS ON YOUR BEHALF. IF YOU ARE A PARENT OR GUARDIAN AGREEING TO THE TERMS FOR THE BENEFIT OF A CHILD OVER 13, THEN YOU AGREE TO AND ACCEPT FULL RESPONSIBILITY FOR THAT CHILD’S USE OF THE Dragons Eth APPLICATION, INCLUDING ALL FINANCIAL CHARGES AND LEGAL LIABILITY THAT HE OR SHE MAY INCUR.</p>

        <h5>11. Changes to the Terms</h5>
        <p>We may make changes to the Terms from time to time. When we make changes, we will make the updated Terms available on the Dragons Eth Application and update the “Last Updated” date at the beginning of these Terms accordingly. Please check these Terms periodically for changes. Any changes to the Terms will apply on the date that they are made, and your continued access to or use of the Dragons Eth Application after the Terms have been updated will constitute your binding acceptance of the updates.</p>

        <h5>12. Changes to the Dragons Eth Application</h5>
        <p>We are constantly innovating the Dragons Eth Application to help provide the best possible experience. You acknowledge and agree that the form and nature of the Dragons Eth Application, and any part of it, may change from time to time without prior notice to you, and that we may add new features and change any part of the Dragons Eth Application at any time without notice.</p>

        <h5>13. Privacy Policy</h5>
        <p>Our Privacy Policy describes the ways we collect, use, store and disclose your personal information, and is hereby incorporated by this reference into these Terms. You agree to the collection, use, storage, and disclosure of your data in accordance with our Privacy Policy.</p>

        <h5>14. General</h5>
        <p>These Terms constitute the entire legal agreement between you and RIKA LLC, govern your access to and use of the Dragons Eth Application, and completely replace any prior or contemporaneous agreements between the parties related to your access to or use of the Dragons Eth Application, whether oral or written. There are no third party beneficiaries to these Terms. The parties are independent contractors, and nothing in these Terms create any agency, partnership, or joint venture. The language in these Terms will be interpreted as to its fair meaning, and not strictly for or against any party. You may not assign any or your rights or obligations under these Terms, whether by operation of law or otherwise, without our prior written consent. We may assign our rights and obligations under these Terms in our sole discretion to an affiliate, or in connection with an acquisition, sale or merger. Should any part of these Terms be held invalid or unenforceable, that portion shall be construed consistent with applicable law and the remaining portions will remain in full force and effect. Our failure to enforce any provision of these Terms will not be deemed a waiver of such provision, nor of the right to enforce such provision. These Terms will be governed by and construed in accordance with the laws of the State of New York, U.S.A., without regard to the choice-of-law principles thereof. The United Nations Convention on Contracts for the International Sale of Goods shall not apply to this agreement. Any action taken towards RIKA LLC that is seeking legal or equitable relief arising out of or relating to these Terms will be brought only in the courts of the State of New York or the United States Court for the District of New York. RIKA LLC may take legal action against anybody violating these Terms in whichever way and/or jurisdiction RIKA LLC sees fit. RIKA LLC will not be liable for any failure or delayed performance of our obligations that result from any condition beyond our reasonable control, including, but not limited to, governmental action, acts of terrorism, earthquake, fire, flood, acts of God, labor conditions, power failures, Internet disturbances, or acts or omissions of third parties. You agree that we may provide you with notices (including, without limitation those regarding changes to these Terms) by email, regular mail, or postings on the Site. By providing us with your email address, you consent to our using the email address to send you any notices required by law in lieu of communication by postal mail.</p>
    </div>
    </div>
  </div>
  
  
  
  <div class="footer">
      <div class="footer_block w-container">
        <div class="logo_footer w-clearfix">
          <div class="footer_logo_img_wrap"><img src="/images/logo_img.png" width="33" srcset="/images/logo_img-p-500.png 500w, /images/logo_img.png 567w" sizes="33px" alt=""></div>
          <div class="footer_logo_text">Dragon ETH</div>
        </div>
        <div class="footer_links_block"><a href="https://t.me/joinchat/DEnpkgr31xVjG4io-wmwLQ" class="footer_link">Ask a question</a><a href="#" id="btn_contract" class="footer_link">Contracts</a><a href="privacy" class="footer_link">Privacy policy</a><a href="/terms" class="footer_link">Terms of service</a></div>
        <div class="div-block-3">
          <div class="social_links"><a href="https://www.facebook.com/ethdragons" class="social facebook w-inline-block" target="_blank" title="Facebook"></a><a href="https://twitter.com/dragons_eth" class="social twitter w-inline-block" target="_blank" title="Twitter"></a><a href="https://www.reddit.com/r/DragonsEth/" class="social reddit_02 w-inline-block" target="_blank" title="Reddit"></a><a href="https://medium.com/@dragons_eth" class="social medium w-inline-block" target="_blank" title="Medium"></a><a href="https://gitlab.com/dragoneth/" class="social gitlab w-inline-block" target="_blank" title="Source code on Gitlab"></a><a href="https://discord.gg/kHMxad4" class="social dicord w-inline-block" target="_blank" title="Discord"></a><a href="tg://join?invite=DEnpkgr31xVjG4io-wmwLQ" class="social telegram w-inline-block" title="Join Telegram chat"></a></div><a href="/#source" class="footer_btn w-button">Support us</a></div>
        <div class="cr_block">
          <div class="text-block-3">© DragonETH 2018</div>
        </div>
      </div>
    </div>
  <div class="w-embed">
    <style>
	.sticky {
		position: -webkit-sticky !important;
  	position: sticky !important;
	}
  .heading_center{
  	background: linear-gradient(#fff 15%, rgba(255, 254, 249, 0.6) 100%);
  	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .heading_bottom{
  	background: linear-gradient(rgba(255, 254, 246, 0.7) 0%, rgba(255, 254, 246, 0.3) 100%);
  	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .heading_02{
  	background: linear-gradient(to right, #fff 40%, rgba(163, 163, 163, 0.3) 100%);
  	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .logo_text, .footer_logo_text{
  	background: linear-gradient(to right, #BBBBBB 0%, #D0D0D0 12%, #DDDDDD 33%, #FFFFFF 52%, #BBBBBB 63%, #797979 78%, #CECECE 100%);;
  	-webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
  .w-nav:before {
  	display: none;
  }
  .w-nav:after {
  	display: none;
  }
	.menu_button:hover .burger_image{
  	background-position: -60px 50%;
	}
  .menu_button:hover .burger_text{
  	color: #D0AB2F;
    text-shadow: 0px 0px 9px rgba(255, 205, 39, 0.8);
	}
  .menu_button:active .burger_image{
  	background-position: -120px 50%;
	}
  .menu_button:active .burger_text{
  	color: #B9982B;
    text-shadow: none;
	}
  .acc_item_trigger:hover .acc_item_heading{
  	color: #B9982B;
  }
  .acc_item_trigger:hover .acc_item_plus{
  	background-position: -25px 0%;
  }
  .nav_btn:hover .nb_span_02{
  	background-position: 50% -20px;
  }
  .os_link{
  	word-wrap: break-word;
  }

  a {
    cursor: pointer;
    text-decoration: none;
    color: #8c76d8;
}

* { outline:none; }

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
/* Modal Content/Box */
.modal-content {
    background-color: #1F2139;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 30px;
    border: 1px solid #8c76d8;
    width: 20%; /* Could be more or less, depending on screen size */
}
  
/* The Close Button */
.close {
    color: #f261ee;
    float: right;
    font-size: 28px;
    font-weight: bold;
    padding-left: 97%;
}

.close:hover, .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}
    </style>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" type="text/javascript" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="/js/webflow.js" type="text/javascript"></script>
  <!-- [if lte IE 9]><script src="https://cdnjs.cloudflare.com/ajax/libs/placeholders/3.0.2/placeholders.min.js"></script><![endif] -->

<div id="contracts" class="modal" style="display: none;">

  <div class="modal-content">
    <span id="close_btn" class="close">&times;</span>
    <%Object.keys(data.contract).forEach(key => { %>
      <a class="nav_link w-nav-link"
         href="https://etherscan.io/address/<%=data.contract[key]%>"
         target="_blank"><%=key%></a>
      <br>
    <% }) %>
  </div>

</div>

<script>
    let contracts = document.getElementById('contracts');
    let btn = document.getElementById("btn_contract");
    let span = document.getElementById("close_btn");

    btn.onclick = function() {
      contracts.style.display = "block";
    }

    span.onclick = function() {
      contracts.style.display = "none";
    }

    window.onclick = function(event) {
      if (event.target == contracts) {
        contracts.style.display = "none";
      } else if (event.target == ref) {
        ref.style.display = "none";
      }
    }
</script>

</body>
</html>
